<div id="modalForgotPassword" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-lg modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ลืมรหัสผ่าน</h4>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-offset-4 col-md-4 col-md-offset-4">
            <div class="input-group">
              <div id="radioClass" class="btn-group">
                <a type="radio" [ngClass]="classOSM" name="forgotType" (click)="onChangeRadio('1');">เจ้าหน้าที่ รพ.สต./อสม.</a>
                <a type="radio" [ngClass]="classHospital" name="forgotType" (click)="onChangeRadio('2');">รหัส รพ.สต.</a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isVerified && !isFormHospital">
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">รหัสโรงพยาบาล</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInput">
                <input type="text" maxlength="5" [(ngModel)]="code5">
                <label class="error">{{ error_message_code5 }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">รหัสประจำตัวประชาชน</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInput" [citizenId]="true">
                <input type="text" [CitizenId]="citizenId" [(ngModel)]="citizenId">
                <label class="error">{{ error_message_citizenId }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ชื่อ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInput">
                <input type="text" maxlength="50" [(ngModel)]="firstName">
                <label class="error">{{ error_message_firstName }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">สกุล</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInput">
                <input type="text" maxlength="50" [(ngModel)]="lastName">
                <label class="error">{{ error_message_lastName }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">วัน/เดือน/ปี เกิด</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInput" BirthDate="BirthDate" (notify)="validBirthDate($event);">
                <my-date-picker name="birthDate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeBirthDate($event)"></my-date-picker>
                <label class="error">{{ error_message_birthDate }}</label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isVerified && isFormHospital">
          <div class="row">
            <div class="text-right col-md-4">
              <label class="label-form">ชื่อ รพ.สต.</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInputHospital">
                <ng2-completer [datasource]="dataHospitals" [minSearchLength]="1" [(ngModel)]="hospitalName" placeholder="ชื่อ รพ.สต."></ng2-completer>
                <label class="error">{{ error_message_hospital }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-right col-md-4">
              <label class="label-form">ที่ตั้ง รพ.สต.</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInputHospital">
                <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="hospitalProvince" (change)="onChangeProvince()">
                  <option value="">---เลือกจังหวัด---</option>
                  <option *ngFor="let item of listProvince" [ngValue]="item.codeId">{{ item.name }}</option>
                </select>
                <label class="error">{{ error_message_hospitalProvince }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-right col-md-4">
              <label></label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInputHospital">
                <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="hospitalDistrict" (change)="onChangeDistrict()" [disabled]="hospitalProvince =='' ? true : false">
                  <option value="">เลือกอำเภอ</option>
                  <option *ngFor="let item of listDistrict" [value]="item.code">{{ item.name }}</option>
                </select>
                <label class="error">{{ error_message_hospitalDistrict }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-right col-md-4">
              <label></label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateInputHospital">
                <select class="ng-pristine ng-valid ng-touched" [(ngModel)]="hospitalSubDistrict" (change)="onChangeSubDistrict()" [disabled]="hospitalDistrict == ''? true : false">
                  <option value="">เลือกตำบล</option>
                  <option *ngFor="let item of listSubDistrict" [value]="item.codeId">{{ item.name }}</option>
                </select>
                <label class="error">{{ error_message_hospitalSubDistrict }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-right col-md-4">
              <label class="label-form">รหัส 9 หลัก รพ.สต.</label>
            </div>
            <div class="col-md-4 ">
              <div [InputValidate]="validateInputHospital">
                <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="รหัส 9 หลัก รพ.สต." [(ngModel)]="hospitalCode9" maxlength="9"
                  [Number]="true" />
                <label class="error">{{ error_message_hospitalCode9 }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-right col-md-4">
              <label class="label-form">รหัส 5 หลัก</label>
            </div>
            <div class="col-md-4 ">
              <div [InputValidate]="validateInputHospital">
                <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="รหัส 5 หลัก" [(ngModel)]="hospitalCode5" maxlength="5"
                  [Number]="true" />
                <label class="error">{{ error_message_hospitalCode5 }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-right col-md-4">
              <label class="label-form">เลขประจำตัวประชาชน</label>
            </div>
            <div class="col-md-4 ">
              <div [InputValidate]="validateInputHospital">
                <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="เลขประจำตัว 13 หลัก" [(ngModel)]="hospitalCitizenId"
                  [CitizenId]="hospitalCitizenId" />
                <label class="error">{{ error_message_hospital_cid }}</label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isVerified">
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">รหัสผ่านใหม่</label>
            </div>
            <div class="col-md-4">
              <input style="display: none;" type="text" autocomplete="new-password" readonly onfocus="this.removeAttribute('readonly');">
              <div [InputValidate]="validateNewPassword">
                <input type="password" maxlength="20" autocomplete="new-password" [(ngModel)]="newPassword">
                <label class="error">{{ error_message_newPassword }}</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ยืนยันรหัสผ่านใหม่</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="validateConfirmNewPassword">
                <input type="password" maxlength="20" autocomplete="new-password" [(ngModel)]="confirmNewPassword">
                <label class="error">{{ error_message_confirmNewPassword }}</label>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button *ngIf="!isVerified && isFormHospital" class="btn btn-primary btn-sm" (click)="onClickVerifyHospital();">ตรวจสอบ รพ.สต.</button>
        <button *ngIf="!isVerified && !isFormHospital" class="btn btn-primary btn-sm" (click)="onClickVerify();">ตรวจสอบ</button>
        <button *ngIf="isVerified" class="btn btn-primary btn-sm" (click)="onClickSave();">ยืนยัน</button>
        <button class="btn btn-primary btn-sm" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>