<div class="panel panel-default">

  <div class="panel-heading">
    <label>ลืมรหัสผ่าน</label>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">รหัสโรงพยาบาล</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateInput">
          <input type="text" maxlength="5" [(ngModel)]="code5">
          <label class="error">{{ error_message_code5 }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">รหัสประจำตัวประชาชน</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateInput" [citizenId]="true">
          <input type="text" [CitizenId]="citizenId" [(ngModel)]="citizenId">
          <label class="error">{{ error_message_citizenId }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">วัน/เดือน/ปี เกิด</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateInput" BirthDate="BirthDate" (notify)="validBirthDate($event);">
          <my-date-picker name="birthDate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeBirthDate($event)"></my-date-picker>
          <label class="error">{{ error_message_birthDate }}</label>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">ชื่อ</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateInput">
          <input type="text" maxlength="50" [(ngModel)]="firstName">
          <label class="error">{{ error_message_firstName }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">สกุล</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateInput">
          <input type="text" maxlength="50" [(ngModel)]="lastName">
          <label class="error">{{ error_message_lastName }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-sm" (click)="onClickSave();">ยืนยัน</button>
        <button class="btn btn-primary btn-sm" (click)="onClickCancel();">ยกเลิก</button>
      </div>
    </div>

  </div>