<div class="row">
    <div class="col-md-2 text-right">
        <label class="label-form">เลือกหมู่</label>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="villageNo">
            <option ngValue="0">--เลือกหมู่--</option>
            <option ngValue="1">1</option>
            <option ngValue="2">2</option>
        </select>
    </div>

    <div class="col-md-1 text-right">
        <label class="label-form">สถานที่</label>
    </div>

    <div class="col-md-3">
        <select [(ngModel)]="locationType" (change)="changLocationNo()" [disabled]="villageNo == '0'?true:false">
            <option ngValue="0">--เลือกสถานที่--</option>
            <option ngValue="1">บ้าน</option>
            <option ngValue="2">ศาสนสถาน</option>
            <option ngValue="3">โรงเรียน</option>
            <option ngValue="4">โรงพยาบาล</option>
            <option ngValue="5">โรงงาน</option>
            <option ngValue="6">โรงแรม</option>
            <option ngValue="7">อื่นๆ</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right" *ngIf="locationType == '1'? true:false">
        <label class="label-form">บ้านเลขที่</label>
    </div>

    <div class="col-md-2 text-right" *ngIf="locationType == '1'? false:true">
        <label class="label-form">ชื่อสถานที่</label>
    </div>

    <div class="col-md-4" >
        <select [(ngModel)]="HomeNo" [disabled]="locationType == '0'? true:false" >
            <option ngValue="0">--เลือก บ้านเลขที่--</option>
            <option ngValue="1">11/11</option>
            <option ngValue="2">อื่นๆ</option>
        </select>
    </div>

    <div *ngIf="HomeNo == '2'? true:false">
            <div class="col-md-1 text-right">
                <label class="label-form">ชื่อ</label>
            </div>
            <div class="col-md-3">
                <input type="text" [maxLength]="nameLength">
            </div>
            <div class="col-md-1">
                <button type="buttoon" class="btn btn-primary btn-sm">เพิ่ม</button>
            </div>
        </div>
</div>

