<div class="row" *ngIf="isShowFind">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">{{getLabel('lbl_villageNo')}}</label>
      </div>
      <div class="col-md-4">
        <select *ngIf="isStaff" [(ngModel)]="findhomebean.villageId">
          <option ngValue="">--เลือก หมู่ที่--</option>
          <option *ngFor="let item of villageData" [value]="item.id">{{item.villageNo+' : '+item.villageName}}</option>
        </select>
        <input  *ngIf="!isStaff" [(ngModel)]="findhomebean.villageId" value="{{userInfo.villageNo + ' ' + userInfo.villageName}}" disabled>
      </div>

      <div class="col-md-1 text-right">
        <label class="label-form">ประเภท</label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="findhomebean.homeTypeId">
          <option ngValue="">--เลือกประเภท--</option>
          <option *ngFor="let item of HomeTypeData" [value]="item.code">{{item.name}}</option>
        </select>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <button type="button" class="btn btn-sm btn-primary" [disabled]="!findhomebean.homeTypeId || !findhomebean.villageId" (click)="searchPlace(); unlock();">ค้นหารายชื่อสถานที่</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="addHome();" [disabled]="!findhomebean.villageId">เพิ่มสถานที่</button>
      </div>

    </div>
    <div class="row" *ngIf="isShowPlace">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary">ยกเลิก</button>
    </div>
  </div>
</div>

<ass-loading [show]="loading"></ass-loading>

<!-- <app-management-home-form ></app-management-home-form> -->