<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 text-right">
    <label class="label-form">รอบสำรวจ</label>
  </div>
  <div class="col-md-4">
    <select name="filter-round" id="filter-round" [(ngModel)]="filterBean.roundId">
      <option value="">ประจำเดือน พฤศจิกายน พ.ศ. 2560</option>
      <!-- <option *ngFor="let osm of list_osm" [value]="osm.citizenId">{{getFullName(osm.prefix.name, osm.firstName, osm.lastName)}}</option> -->
    </select>
  </div>
  <div class="col-md-1 text-right">
    <label class="label-form">เลือกหมู่</label>
  </div>
  <div class="col-md-4">
    <select name="filter-villageNo" [(ngModel)]="filterBean.villageId" (change)="onChangeVillageNo()">
      <option value="">--เลือก หมู่บ้าน--</option>
      <option *ngFor="let village of list_village_no" [value]="village.id">{{ 'หมู่ที่ ' + village.villageNo + ' : ' + village.villageName }}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 text-right">
    <label class="label-form">ชื่อ อสม.</label>
  </div>
  <div class="col-md-4">
    <select name="filter-osmName" [(ngModel)]="filterBean.osmId" (change)="onChangeOSM()" [disabled]="isDisabledOSM">
      <option value="">--เลือก อสม.--</option>
      <option *ngFor="let osm of list_osm" [value]="osm.personId">{{ osm.fullName }}</option>
    </select>
  </div>
  <div class="col-md-1 text-right">
    <label class="label-form">บ้านเลขที่</label>
  </div>
  <div class="col-md-4">
    <select name="filter-homeNo" [(ngModel)]="filterBean.homeId" [disabled]="isDisabledHomeNo">
      <option value="">--เลือก บ้านเลขที่--</option>
      <option *ngFor="let home of list_home_no" [value]="home.id">{{ home.homeNo }}</option>
    </select>
  </div>
</div>

<div>
  <div class="row text-center" style="margin-top: 10px;">
    <button class="btn btn-primary" (click)="doSearchFilter()" id="filter-btnSearch">
      <i class="fa fa-search"> ค้นหา</i>
    </button>
    <button class="btn btn-primary" (click)="doClearFilter()" id="filter-btnClear">
      <i class="fa fa-refresh"> ล้างค่า</i>
    </button>
  </div>
</div>