<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 text-right">
    <label class="label-form">รอบสำรวจ</label>
  </div>
  <div class="col-md-4">
    <select [(ngModel)]="filterBean.roundId" #round (change)="onChangeRound(round)">
      <option *ngFor="let item of listRound" [value]="item.rowGUID">{{ item.round }}</option>
    </select>
  </div>
  <div class="col-md-1 text-right">
    <label class="label-form">หมู่บ้าน</label>
  </div>
  <div class="col-md-4">
    <select *ngIf="isStaff" name="filter-villageNo" [(ngModel)]="filterBean.villageId" #village (change)="onChangeVillageNo(village)">
      <option value="">ทั้งหมด</option>
      <option *ngFor="let village of listVillageNo" [value]="village.id">{{ 'หมู่ที่ ' + village.villageNo + ' : ' + village.villageName }}</option>
    </select>
    <input *ngIf="!isStaff" value="หมู่ที่ {{userInfo.villageNo + ' ' + userInfo.villageName}}" disabled>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 text-right">
    <label class="label-form">ชื่อ อสม.</label>
  </div>
  <div class="col-md-4">
    <select *ngIf="isStaff" name="filter-osmName" [(ngModel)]="filterBean.osmId" #osm (change)="onChangeOSM(osm)" [disabled]="isDisabledOSM">
      <option value="">ทั้งหมด</option>
      <option *ngFor="let osm of listOsm" [value]="osm.personId">{{ osm.fullName }}</option>
    </select>
    <input *ngIf="!isStaff" value="{{userInfo.fullName}}" disabled>
  </div>
  <div class="col-md-1 text-right">
    <label class="label-form">บ้านเลขที่</label>
  </div>
  <div class="col-md-4">
    <select name="filter-homeNo" [(ngModel)]="filterBean.homeId" #home (change)="onChangeHome(home);" [disabled]="isDisabledHomeNo">
      <option value="">ทั้งหมด</option>
      <option *ngFor="let home of listHomeNo" [value]="home.homeId">{{ home.homeNo }}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1 text-right">
    <label class="label-form">สถานะ</label>
  </div>
  <div class="col-md-4">
    <select name="filter-suyveyStatus" [(ngModel)]="filterBean.suyveyStatus" #status (change)="onChangeStatus(status);">
      <option value="">ทั้งหมด</option>
      <option value="0">สำรวจแล้ว</option>
      <option value="1">ยังไม่ได้สำรวจ</option>
    </select>
  </div>
</div>

<div>
  <div class="row text-center" style="margin-top: 10px;">
    <button id="filter-btnSearch" class="btn btn-primary btn-sm" (click)="onSearchFilter()">
      <i class="fa fa-search"> ค้นหา</i>
    </button>&nbsp;&nbsp;
    <button id="filter-btnClear" class="btn btn-primary btn-sm" (click)="onClearFilter()">
      <i class="fa fa-refresh"> ล้างค่า</i>
    </button>
  </div>
</div>