<div class="panel panel-default">
    <div class="panel-heading">
        <span>แบบสำรวจผู้พิการ และผู้ป่วยติดเตียง</span>
    </div>
    <div class="panel-body">
        <app-survey-head-filter [surveyTypeCode]="surveyTypeCode" (notifyFilter)="onSearch($event)" (changeFilter)="onChangeFilter($event)"></app-survey-head-filter>

        <div class="row">
            <div class="col-sm-12 text-left">
                <button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-primary">เพิ่มการสำรวจ</button>
                <!-- <button class="btn btn-primary">ประวัติการสำรวจ</button> -->
            </div>
        </div>
        <div class="row" *ngIf="isShowList">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-lg modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">เพิ่มรายชื่อผู้พิการ และผู้ป่วยติดเตียง</h4>
            </div>
            <app-find-person></app-find-person>
            <hr>
            <div class="row">
                <div class="col-md-2 text-right">
                    <label class="label-form">ประเภท</label>
                </div>
                <div class="col-md-4">
                    <select [(ngModel)]="patientType">
                     <option value="0">--เลือกประเภท--</option>
                     <option value="1">ผู้ป่วย</option>
                     <option value="2">ผู้พิการ</option>
                </select>
                </div>
            </div>
            <!-- ป่วย -->
            <div id="sick" [hidden]="patientType== 1?false:true">
                <div class="row">
                    <div class="col-md-2 text-right">
                        <label class="label-form">ระบุ</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label class="label-form">ประเภทผู้ป่วย</label>
                    </div>
                    <div class="col-md-4">
                        <select>
                            <option value="0">--เลือกประเภท--</option>
                            <option value="1">ติดบ้าน</option>
                            <option value="2">ติดเตียง</option>
                        </select>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-2 text-right">
                        <label class="label-form">สิทธิบัตร</label>
                    </div>
                    <div class="col-md-4">
                        <select [ngModel]="healtInsuranceID">
                        <option value="0">--เลือกประเภท--</option>
                        <option value="1">ท.66</option>
                        <option value="2">ท.67</option>
                        <option value="3">ท.68</option>
                        <option value="4">ท.69</option>
                        <option value="5">ท.71</option>
                        <option value="6">ท.73</option>
                        <option value="7">ท.74</option>
                        <option value="8">ท.75</option>
                        <option value="9">ท.77</option>
                        <option value="10">ท.80</option>
                        <option value="11">ท.89</option>
                  </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>วันที่ป่วย</label>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- พิการ -->
            <div id="disabled" [hidden]="patientType== 2?false:true">
                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>ประเภทพิการ</label>
                    </div>
                    <div class="col-md-4">
                        <select>
                                    <option value="0">--เลือกประเภท--</option>
                                    <option value="1">ความพิการทางการเห็น</option>
                                    <option value="2">ความพิการทางการได้ยินหรือสื่อความหมาย</option>
                                    <option value="3">ความพิการการเคลื่อนไหวหรือทางร่างกาย</option>
                                    <option value="4">ความพิการทางจิตใจหรือพฤติกรรมหรือออทิสติก</option>
                                    <option value="5">ความพิการทางสติปัญญา</option>
                                    <option value="6">ความพิการทางการเรียนรู้</option>
                                  </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>สาเหตุ</label>
                    </div>
                    <div class="col-md-4">
                        <select>
                    <option value="0">--เลือกประเภท--</option>
                    <option value="1">ความพิการหรือป่วยแต่กำเนิด</option>
                    <option value="2">ความพิการหรือป่วยจากการบาดเจ็บ</option>
                    <option value="3">ความพิการหรือป่วยจากโรค</option>
                </select>
                    </div>

                    <div class="col-md-1 text-right">
                        <label>ระบุ</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="" id="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>ประเภทผู้ป่วย</label>
                    </div>
                    <div class="col-md-4">
                        <select>
                        <option value="0">--เลือกประเภท--</option>
                        <option value="1">ติดบ้าน</option>
                        <option value="2">ติดเตียง</option>
                      </select>
                    </div>

                    <div class="col-md-1 text-right">
                        <label>สิทธิบัตร</label>
                    </div>
                    <div class="col-md-4">
                        <select [ngModel]="healtInsuranceID">
                        <option value="0">--เลือกประเภท--</option>
                        <option value="1">ท.66</option>
                        <option value="2">ท.67</option>
                        <option value="3">ท.68</option>
                        <option value="4">ท.69</option>
                        <option value="5">ท.71</option>
                        <option value="6">ท.73</option>
                        <option value="7">ท.74</option>
                        <option value="8">ท.75</option>
                        <option value="9">ท.77</option>
                        <option value="10">ท.80</option>
                        <option value="11">ท.89</option>
                      </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>วันที่พิการ</label>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary">ยืนยัน</button>
                        <button class="btn btn-primary">รีเซ็ท</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>