.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap:break-word; 
    display:inline-block;
}

.wrap-text {
    overflow-wrap: break-word !important;
    /* word-break: break-all; */
    word-wrap: break-word;
    word-spacing: normal;
    -ms-word-wrap: break-word;
    /* -ms-word-break: break-all; */
    white-space: nowrap;
}