/* .imgSurvey {
    margin-left: 20px;
    margin-right: 10px;
} */
.survey-card{
    padding-top: 8px;
    border: 1px solid #bebebe;
    border-radius: 6px;
}
.survey-card *{
    cursor: pointer;
}
.survey-card.mosquito{
    background-color: #ffa1b5;
}
.survey-card.metabolic{
    background-color: #D7ECCD;
}
.survey-card.population{
    background-color: #fded94;
}
.survey-card-title{
    margin-top: 5px;
    font-size: 24px;
}
.survey-card-percent>label{
    font-size: 36px;

}

.survey-card .row{
    padding-top: 0;
    padding-bottom: 0;
}
.survey-card.mosquito .survey-card-percent>label{
    color: #b10b0b;
}
.survey-card.metabolic .survey-card-percent>label{
    color: #0c8a41;
}
.survey-card.population .survey-card-percent>label{
    color: #9e8a18;
}