<div class="panel panel-default">

  <div class="panel-heading">
    <label>ข้อมูลการสำรวจครัวเรือนในเขตรับผิดชอบ</label>
  </div>

  <div class="panel-body text-center">

    <div class="row">
      <div class="col-md-3">
        <label>ครัวเรือน</label>
      </div>
      <div class="col-md-3">
        <label>ประชากร</label>
      </div>
      <div class="col-md-3">
        <label>ชาย</label>
      </div>
      <div class="col-md-3">
        <label>หญิง</label>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <label>{{ family }}</label>
        </div>
        <div class="col-md-3">
          <label>{{ population }}</label>
        </div>
        <div class="col-md-3">
          <label>{{ male }}</label>
        </div>
        <div class="col-md-3">
          <label>{{ female }}</label>
        </div>
      </div>

  </div>

</div>

<div class="panel panel-default">

  <div class="panel-heading">
    <label>ข้อมูลการสำรวจประชากร</label>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

  </div>

</div>