.imgSurvey {
    margin-right: 10px;
}
.survey-card{
    border: 1px solid #bebebe;
    border-radius: 6px;
     /* margin: 3px 5px 3px 5px; */
    
}
.survey-card.mosquito{
    background-color: #F0DBDA;
}
.survey-card.metabolic{
    background-color: #D7ECCD;
}
.survey-card.population{
    background-color: #FAF4D4;
}