<div class="panel panel-default">

  <div class="panel-heading">
    <label>ข้อมูลการสำรวจ</label>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-4">
        <div class="survey-card mosquito">
          <div class="row">
            <div class="col-md-3 text-right">
              <img class="imgSurvey" src="../../assets/img/mosquito_circle.png" title="ลูกน้ำยุงลาย">
            </div>
            <div class="col-md-9">
              <label class="survey-card-title">ลูกน้ำยุงลาย</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <label class="value survey-card-round">{{ roundMonitorhici.round }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 survey-card-percent">
              <label>{{ percentMosquito }}</label>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4">
        <div class="survey-card metabolic">
          <div class="row">
            <div class="col-md-3 text-right">
              <img class="imgSurvey" src="../../assets/img/metabolic_circle.png" title="ผู้มีความเสี่ยงโรค">
            </div>
            <div class="col-md-9">
              <label class="survey-card-title">ผู้มีความเสี่ยงโรค</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <label class="value survey-card-round">{{ roundMetabolic.round }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 survey-card-percent">
              <label>{{ percentMetabolic }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="survey-card population">
          <div class="row">
            <div class="col-md-3 text-right">
              <img class="imgSurvey" src="../../assets/img/home_circle.png" title="ครัวเรือน">
            </div>
            <div class="col-md-9">
              <label class="survey-card-title">ครัวเรือน</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <label class="value survey-card-round">{{ roundPopulation.round }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 survey-card-percent">
              <label>{{ percentPopulation }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="panel panel-default">

  <div class="panel-heading">
    <label>ข้อมูลการสำรวจครัวเรือนในเขตรับผิดชอบ</label>
  </div>

  <div class="panel-body text-center">

    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 align-middle">
            <img class="imgSurvey" src="../../assets/img/home.png" title="ครัวเรือน">
            <label>ครัวเรือน</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label style="font-size: 20px;">{{ family }}</label>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 align-middle">
            <img class="imgSurvey" src="../../assets/img/family.png" title="ประชากร">
            <label>ประชากร</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label style="font-size: 20px;">{{ population }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 align-middle">
            <img class="imgSurvey" src="../../assets/img/male.png" title="ชาย">
            <label>ชาย</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label style="margin-left:42px; font-size: 20px">{{ male }}</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 align-middle">
            <img class="imgSurvey" src="../../assets/img/female.png" title="หญิง">
            <label>หญิง</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label style="margin-left:42px; font-size: 20px">{{ female }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">

  <div class="panel-heading">
    <label>ข้อมูลการสำรวจประชากร</label>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-6">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="barChartHovered($event)" (chartClick)="barChartClicked($event)"></canvas>
        </div>
      </div>
      <div class="col-md-6">
        <div style="display: block">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="pieChartHovered($event)"
            (chartClick)="pieChartClicked($event)"></canvas>
        </div>
      </div>
    </div>

  </div>

</div>