
<div class="row">
    <div class="col-xs-12 text-center">
        <img width="940" src="../../assets/img/about-system/Slide2.JPG">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <img width="940" style="border: 1px solid #CCC;" src="../../assets/img/about-system/Slide3.JPG">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <img width="940" src="../../assets/img/about-system/Slide4.JPG">
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <img width="940" src="../../assets/img/about-system/info-4.png">
    </div> 
</div>

