
<div class="row">
    <div class="col-xs-6 text-right">
        <img width="480" src="../../assets/img/about-system/info-1.png">
    </div>
    <div class="col-xs-6">
        XXX <br>
        XXXXX <br>
        XXXX <br>
        XXXX
    </div>
    
</div>

<div class="row">
    <div class="col-xs-6 text-rigth">
        XXX <br>
        XXXXX <br>
        XXXX <br>
        XXXX
    </div>
    <div class="col-xs-6">
        <img width="480" src="../../assets/img/about-system/info-2.png">
    </div>

</div>

<div class="row">
        <div class="col-xs-6 text-right">
            <img width="480" src="../../assets/img/about-system/info-4.png">
        </div>
        <div class="col-xs-6">
            XXX <br>
            XXXXX <br>
            XXXX <br>
            XXXX
        </div>
        
    </div>

