<div class="content-index text-center">
        <swiper [config]="config">
            <div class="swiper-wrapper">

                <div class="swiper-slide"><img src="../../assets/img/50737-O6E92M-1.png" /></div>
                <div class="swiper-slide"><img src="../../assets/img/50737-O6E92M-1.png" /></div>
                <div class="swiper-slide"><img src="../../assets/img/50737-O6E92M-1.png" /></div>
                <div class="swiper-slide"><img src="../../assets/img/50737-O6E92M-1.png" /></div>
                <div class="swiper-slide"><img src="../../assets/img/50737-O6E92M-1.png" /></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>

</div>
