<div class="content-index text-center" *ngIf="showSlider">
        <swiper [config]="config">
            <div class="swiper-wrapper">

                <div *ngFor="let item of images" class="swiper-slide"><img class="img-slide" [src]="item.path" /></div>

                <!-- <div class="swiper-slide"><img class="img-slide" src="../../assets/img/slides/banner-main-1.png" /></div>
                <div class="swiper-slide"><img class="img-slide" src="../../assets/img/slides/banner-main-2.png" /></div> -->

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>

</div>
