<div class="content-index text-center"> 
        <swiper [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center"><img src="../../assets/img/surveys/pp6.jpg" /></div>
                <div class="swiper-slide">Slide 2 <br> <img src="../../assets/img/surveys/pp2.jpg" /></div>
                <div class="swiper-slide">Slide 3 <br> <img src="../../assets/img/surveys/pp3.jpg" /></div>
                <div class="swiper-slide">Slide 4 <br> <img src="../../assets/img/surveys/pp4.jpg" /></div>
                <div class="swiper-slide">Slide 5 <br> <img src="../../assets/img/surveys/pp5.png" /></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>

</div>