<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <section class="content-header">
      <div class="row">
          <div class="col-md-12 text-left">
              <label>โรงพยาบาลส่งเสริมสุขภาพตำบล ตำบลบ้านเป็ด อำเภอเมือง จังหวัดขอนแก่น</label>
          </div>
      </div>
  </section>

  <!-- Main content -->
  <section class="content">
      <div>SHOW = {{showloadingService.show}}</div>
     <router-outlet></router-outlet>

  </section>
  <!-- /.content -->
</div>

<ass-loading [show]="showloadingService.show"></ass-loading>
