<div class="panel panel-default">
    <div class="panel-heading">
        <span>แบบสำรวจผู้ป่วยมะเร็ง</span>
    </div>

    <div class="panel-body">
        <div class="row">
            <app-filter-head-survey [surveyTypeCode]="surveyTypeCode" (notifyFilter)="onSearch($event)" (changeFilter)="onChangeFilter($event)"></app-filter-head-survey>
        </div>

        <div class="row">
            <div class="col-sm-12 text-left">
                <button class="btn btn-sm btn-primary" (click)="onModalForm(ass_action.ADD);">เพิ่มการสำรวจ</button>
                <button class="btn btn-sm btn-primary" (click)="onClickMultiMaps();">ดูแผนที่ทั้งหมด</button>
                <!-- <button class="btn btn-primary">ประวัติการสำรวจ</button> -->
            </div>
        </div>

        <div class="row" *ngIf="isShowList">
            <div class="col-lg-12">
                <div class="row">
                    <div class="filter-discription" [innerHtml]="filtersearch.description"></div>
                    <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
                </div>
            </div>
        </div>

    </div>
</div>

<app-survey-cancer-form [action]="action" [data]="cancerbean" [documentId]="current_documentId" (completed)="reloadData($event);"></app-survey-cancer-form>
<app-survey-cancer-history [data]="cancerbean"></app-survey-cancer-history>
<ass-loading [show]="loading"></ass-loading>

<div id="modalMaps" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">แผนที่</h4>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <app-maps [reset]="param_reset" [latitude]="param_latitude" [longitude]="param_longitude" [info]="param_info" [mode]="'view'" [defaultAddress]="userInfo.address"></app-maps>
          </div>
        </div>
  
        <div class="modal-footer">
          <div class="panel-body text-right">
            <button class="btn btn-primary btn-sm" data-dismiss="modal">กลับ</button>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
<div id="modalMultiMaps" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">แผนที่</h4>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <app-multi-maps [reset]="param_reset" [list]="param_listPosition" [defaultAddress]="userInfo.address"></app-multi-maps>
                </div>
            </div>

            <div class="modal-footer">
                <div class="panel-body text-right">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">กลับ</button>
                </div>
            </div>

        </div>
    </div>
</div>