<div class="panel panel-default">

    <div class="panel-heading">
        <span>การเฝ้าระวัง ป้องกัน และควบคุมโลก / ข้อมูลแบบสำรวจผู้ป่วยมะเร็ง</span>
    </div>

    <div class="panel-body">
        <!-- <app-filter></app-filter>  -->
        <app-filter-head-survey [surveyTypeCode]="surveyTypeCode" (notifyFilter)="onSearch($event)" (changeFilter)="onChangeFilter($event)"></app-filter-head-survey>
        <div class="row">
            <div class="col-sm-12 text-left">
                <!-- <a>
                    <img src="Assets/img/create_users_group_people-512.png" class="img-responsive btn" alt="เพิ่มผู้ป่วย" width="100" height="100"
                        style="cursor: pointer;" data-toggle="modal" data-target="#myModal">
                </a>
                <a>
                    <img src="Assets/img/create_users_group_people-512.png" class="img-responsive btn" alt="พิมพ์เอกสาร" width="100" height="100"
                        style="cursor: pointer;" data-toggle="modal" data-target="#myModal">
                </a> -->
                <!-- <button class="btn btn-primary">เพิ่มผู้ป่วย</button>
                <button class="btn btn-primary">พิมพ์เอกสาร</button> -->
                <button data-toggle="modal" data-target="#modalCancer" class="btn btn-sm btn-primary">เพิ่มการสำรวจ</button>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div style="background: white" class="panel-body">
                        <div class="table-responsive">

                            <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" *ngIf="isShowList">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>

</div>

<!-- <app-survey-cancer-form [triggerCancer]="1"></app-survey-cancer-form> -->
<app-survey-cancer-form></app-survey-cancer-form>

