<div class="panel panel-default">
    <div class="panel-heading">
        <label>การเฝ้าระวัง ป้องกัน และควบคุมโลก / ข้อมูลแบบสำรวจผู้ป่วยมะเร็ง</label>
    </div>

    <div class="panel-body">
        <div class="row">
            <app-filter-head-survey [surveyTypeCode]="surveyTypeCode" (notifyFilter)="onSearch($event)" (changeFilter)="onChangeFilter($event)"></app-filter-head-survey>
        </div>
    </div>

</div>

<!-- <app-survey-cancer-form [triggerCancer]="1"></app-survey-cancer-form> -->
<app-survey-cancer-form></app-survey-cancer-form>