<div id="find-person-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ฟอร์มผู้ป่วยและผู้พิการ</h4>
            </div>
            <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal" (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>

            <div *ngIf="isShowForm">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <label id="cid">หมายเลขประจำตัว :</label>
                        <label class="value">{{patientbean.citizenId}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>ชื่อ-สกุล :</label>
                        <label class="value">{{patientbean.fullName}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1" style="width: 180px;">
                        <label>เพศ :</label>
                        <label class="value">{{patientbean.genderName}}</label>
                        <label>อายุ :</label>
                        <label class="value">{{patientbean.age}} ปี</label>
                    </div>

                    <div class="col-md-8">
                        <label class="label-form">ที่อยู่ :</label>
                        <label class="value">{{patientbean.address}}</label>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <label class="label-form">ประเภท</label>
                    </div>
                    <div class="col-md-4">
                        <select [(ngModel)]="patientbean.patientSurveyTypeCode" (change)="onChangePatientSyurvey();">
                            <option value="0">--เลือกประเภท--</option>
                            <ng-container *ngFor="let item of surveyStatusTypeList">
                                <option *ngIf="item.code !='Cancer'" value="{{item.code.toUpperCase()}}">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <!-- ป่วย -->
                <div *ngIf="patientbean.patientSurveyTypeCode == 'PATIENT'">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">ระบุโรค/อาการ</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" [(ngModel)]="patientbean.remark">
                            <div class="row" *ngIf="isErrorRemark">
                                    <div class="col-md-12">
                                        <span class="error">กรุณาระบุอาการป่วย</span>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-2 text-right">
                            <label class="label-form">ประเภทผู้ป่วย</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="patientbean.patientTypeId">
                                <option value="0">--เลือกประเภท--</option>
                                <option *ngFor="let item of patientTypeList" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div class="row" *ngIf="isErrorPatientType">
                                    <div class="col-md-12">
                                        <span class="error">กรุณาเลือกประเภท</span>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">สิทธิบัตร</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="patientbean.hInsuranceType">
                                <option value="0">--เลือก--</option>
                                <option *ngFor="let item of healtInsuranceTypeList" value="{{item.id}}">{{item.code}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 text-right">
                            <label class="label-form">วันที่ป่วย</label>
                        </div>

                        <div class="col-md-3">
                            <my-date-picker [options]="datePickerOptions" [(ngModel)]="patientbean.patientDate" required></my-date-picker>
                        </div>
                    </div>
                </div>
                <!-- พิการ -->
                <div *ngIf="patientbean.patientSurveyTypeCode == 'DISABLED'">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">ประเภทพิการ</label>
                        </div>
                        <div class="col-md-4">
                            <select [(ngModel)]="patientbean.disabilityType">
                                <option value="0">--เลือกประเภท--</option>
                                <option *ngFor="let item of disabilityTypeList" value="item.id">{{item.name}}</option>
                            </select>
                            <div class="row" *ngIf="isErrorDisabilityType">
                                    <div class="col-md-12">
                                        <span class="error">กรุณาเลือกประเภทความพิการ</span>
                                    </div>
                                </div>


                                
                        </div>

                        <div class="col-md-1 text-right">
                            <label class="label-form">สาเหตุ</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="patientbean.disabilityCauseType">
                                <option value="0">--เลือกประเภท--</option>
                                <option *ngFor="let item of disabilityTypeCause" value="item.id">{{item.name}}</option>
                            </select>
                            <div class="row" *ngIf="disabilityCauseType">
                                    <div class="col-md-12">
                                        <span class="error">กรุณาเลือกสาเหตุความพิการ</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">ระบุโรค/อาการ</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" [(ngModel)]="patientbean.remark">
                        </div>

                        <div class="col-md-2 text-right">
                            <label class="label-form">ประเภทผู้ป่วย</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="patientbean.patientTypeId">
                                <option value="0">--เลือกประเภท--</option>
                                <option *ngFor="let item of patientTypeList" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div class="row" *ngIf="isErrorPatientType" >
                                    <div class="col-md-12">
                                        <span class="error">กรุณาเลือกประเภท</span>
                                    </div>
                                </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">สิทธิบัตร</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="patientbean.hInsuranceType">
                                <option value="0">--เลือก--</option>
                                <option *ngFor="let item of healtInsuranceTypeList" value="{{item.id}}">{{item.code}}</option>
                            </select>
                        </div>

                        <div class="col-md-2 text-right">
                            <label class="label-form">วันที่พิการ</label>
                        </div>

                        <div class="col-md-3">
                            <my-date-picker [options]="datePickerOptions" [(ngModel)]="patientbean.patientDate" required></my-date-picker>
                        </div>

                    </div>

                    <div class="row">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-sm btn-primary" (click)="addSurvey()">ยืนยัน</button> &nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="onBack()">กลับ</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>