<div class="panel panel-default">
  <div class="panel-heading">
    <label>จัดการเขตความรับผิดชอบ อสม.</label>
  </div>
  <div class="panel-body">
    <div class="header-info">
      
      <div class="row">
        <div class="col-md-12 text-left text-center">
          <label>อสม. นางสาวโอ๋เอ๋ โสภา</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-left text-center">
          <label>หมู่ที่ 1 บ้านคำไฮ</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-left">
        <button class="btn btn-sm btn-primary" (click)="onAdd();">เพิ่มบ้านเลขที่</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelect($event)"></ng2-smart-table>
    </div>
    </div>
  </div> 
</div>

<app-management-home-form [bean]="bean" [action]="action" (success)="onSuccess($event)"></app-management-home-form>
<ass-loading [show]="loading" ></ass-loading>