<div class="panel panel-default">
  <div class="panel-heading">
    <label>จัดการเขตรับผิดชอบ อสม. {{userInfo.hospitalCode5}}</label>
  </div>
  <div class="panel-body">
    <div class="header-info">

      <div class="row">
        <div class="col-sm-12">
          <div class="box-body">
            <dl class="dl-horizontal">
              <dt>อสม. : </dt>
              <dd>นางสาวโอ๋เอ๋ โสภา</dd>
              <dt>หมู่ที่ : </dt>
              <dd>1 บ้านคำไฮ</dd>
            </dl>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-12 text-left">
        <button class="btn btn-sm btn-primary" (click)="onAdd();">เพิ่มบ้านเลขที่</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
    </div>
    </div>
  </div> 
</div>

<app-management-home-form [bean]="bean" [action]="action" (success)="onSuccess($event)"></app-management-home-form>
<ass-loading [show]="loading" ></ass-loading>