<div class="panel panel-default">
  <div class="panel-heading">
    <label *ngIf="isStaff"><a (click)="onBack();" >จัดการเจ้าหน้าที่ อสม.</a> <i class="fa fa-caret-right"></i> </label><label>จัดการเขตรับผิดชอบ อสม.</label>
  </div>
  <div class="panel-body">
    <div class="header-info">
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">หมู่ที่</label>
      </div>
      <div class="col-md-4">
        <input [value]="villageNo" disabled>
      </div>
      <div class="col-md-1 text-right">
        <label class="label-form">อสม.</label>
      </div>
      <div class="col-md-4">
        <input [value]="osmName" disabled>
      </div>

    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">ประเภทสถานที่</label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="findTypeCode">
          <option value="">--ทั้งหมด--</option>
          <option *ngFor="let item of homeTypeList" [value]="item.code">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-11 text-center">
        <button id="filter-btnSearch" class="btn btn-primary btn-sm" id="btnSearch" (click)="onSearchFilter()">
          <i class="fa fa-search">&nbsp;ค้นหา</i>
        </button> &nbsp;&nbsp;
        <button id="filter-btnClear" class="btn btn-primary btn-sm" (click)="onClearFilter()">
          <i class="fa fa-refresh">&nbsp;ล้างค่า</i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-left">
        <button class="btn btn-sm btn-primary" (click)="onAdd();" [disabled]="!findVillageId">สร้างบ้านเลขที่ใหม่</button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-primary" (click)="onAddWithoutOSM();" [disabled]="!findVillageId">เพิ่มบ้านเลขที่ จากบ้านเลขที่ที่ไม่มี อสม.</button>
      </div>
      

    </div>
    <div class="row">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
    </div>
    </div>
  </div> 
</div>

 <!-- Modal Google Map-->
 <div class="modal fade" id="modalMaps" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{bean.homeId?'แก้ไข':'เพิ่ม'}}บ้านเลขที่/สถานที่</h4>
        </div>
        <div class="modal-body">
          <app-maps [latitude]="bean.latitude" [longitude]="bean.longitude" [info]="infoMaps"></app-maps>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" data-dismiss="modal" type="button">ปิด</button>
        </div>
      </div>
    </div>
  </div>

<app-management-home-form [bean]="bean" [action]="action" (success)="onComplete($event)"></app-management-home-form>
<app-management-home-without-osm [bean]="bean" (completed)="onUpdateOSMHome($event)"></app-management-home-without-osm>
<ass-loading [show]="loading"></ass-loading>