<!-- Modal -->
<div id="modal-add-died" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-lg modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">รายละเอียดผู้เสียชีวิต</h4>
      </div>
   
    <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal"  [surveyTypeCode]="surveyTypeCode" [documentId]="currentDocumentId" (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>
    
     <div class="row" *ngIf="isShowForm">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 text-right">
                <label>ชื่อ</label>
              </div>
              <div class="col-md-5">
                  <label class="value">{{bean.fullName}}</label>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-4 text-right">
                <label>หมายเลขประจำตัว</label>
              </div>
              <div class="col-md-5">
                <label class="value">{{formatCitizenId(bean.citizenId)}}</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-right">
                <label>อายุ</label>
              </div>
              <div class="col-md-4">
                <label class="value">{{bean.age}} ปี</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 text-right">
                  <label>ที่อยู่</label>
              </div>
               <div class="col-md-5">
                  <label class="value">{{bean.address}}</label>
               </div>
            </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label>วันที่เสียชีวิต</label>
            </div>
            <div class="col-md-2">
              <div [InputValidate]="inputValidate" BirthDate="BirthDate" (notify)="validDate($event)">
                <my-date-picker name="mydate" [options]="datePickerOptions"
              [(ngModel)]="bean.mDateDead" (dateChanged)="onDateChanged($event)" required></my-date-picker>
                <label class="error">วันที่เสียชีวิตไม่ถูกต้อง</label>
              </div>
            </div>
            <div class="col-md-1 text-right"  style="width: 40px; padding: 0;">
                <label>เวลา</label>
            </div>
            <div class="col-md-1" style="padding-right: 0;">
                <select [(ngModel)]="bean.mHours">
                  <option *ngFor="let number of timeHours" [value]="numberAppendPrefix(number,2)">{{numberAppendPrefix(number,2)}}</option>
                </select>
            </div>
            <div class="col-md-1 text-center" style="width: 20px; padding: 0;">
              <label>:</label>
            </div>
            <div class="col-md-1" style="padding-left: 0;">
                <select [(ngModel)]="bean.mMins">
                  <option *ngFor="let number of timeMins" [value]="numberAppendPrefix(number,2)">{{numberAppendPrefix(number,2)}}</option>
        
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right">
              <label>สาเหตุการเสียชีวิต</label>
            </div>

            <div class="col-md-5">

              <div class="row">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label class="label-form">
                        <input type="checkbox" [(ngModel)]="bean.isDiabetes">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        โรคเบาหวาน
                    </label>
                  </div> 
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label class="label-form">
                        <input type="checkbox" [(ngModel)]="bean.isHypertension">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        โรคความดันโลหิตสูง
                    </label>
                  </div> 
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label class="label-form">
                        <input type="checkbox" [(ngModel)]="bean.isAccident">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        อุบัติเหตุ
                    </label>
                  </div> 
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="padding-right: 0">
                  <div class="checkbox">
                    <label class="label-form">
                        <input type="checkbox" [(ngModel)]="bean.isCancer" >
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        โรคมะเร็ง
                    </label>
                  </div> 
                </div>
                <div class="col-md-8" style="padding-left: 0">
                  <div [InputValidate]="inputValidate">
                    <select [(ngModel)]="bean.cancerTypeId" *ngIf="bean.isCancer">
                      <option value="">---เลือก---</option>
                      <option *ngFor="let item of cancerList" [value]="item.id">{{item.name}}</option>
                    </select>
                    <label class="error">กรุณาเลือกโรคมะร็ง</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4" style="padding-right: 0">
                    <div class="checkbox">
                      <label class="label-form">
                          <input type="checkbox" [(ngModel)]="bean.isCauseOther" (click)="onIsCauseOther();">
                          <span class="cr">
                              <i class="cr-icon fa fa-check"></i>
                          </span>
                          สาเหตุอื่นๆ
                      </label>
                    </div> 
                  </div>
                <div *ngIf="bean.isCauseOther" class="col-md-8" style="padding-left: 0">
                  
                  <input type="text" id="causeOther" [(ngModel)]="bean.causeOther" placeholder="ระบุ สาเหตุอื่นๆ">
                  <label class="error" id="isCauseOtherError">กรุณาใส่สาเหตุอื่นๆ</label>
                  
                </div>
              </div>

          </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right">
              <label >โรคประจำตัว</label>
            </div>
            <div class="col-md-5">
              
              <div class="row">

                <div class="col-md-3">
                  <div class="radio">
                    <label class="label-form">
                      <input type="radio" name="disease" [value]="true" [(ngModel)]="bean.isNoDisease">
                      <span class="cr">
                        <i class="cr-icon fa fa-check"></i>
                      </span>
                      ไม่มี
                    </label>
                  </div> 
                </div>

                <div class="col-md-3">
                  <div class="radio">
                    <label class="label-form">
                      <input type="radio" name="disease" [value]="false" [(ngModel)]="bean.isNoDisease">
                      <span class="cr">
                        <i class="cr-icon fa fa-check"></i>
                      </span>
                      มี
                    </label>
                  </div> 
                  
                </div>
              </div>
              <label class="error" id="isNoDiseaseError">กรุณาเลือกโรคประจำตัว</label>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-4 text-right">
              <label>สถานที่เสียชีวิต</label>
            </div>
    
            <div class="col-md-5" *ngIf="bean.deathPlaceCode!='9'">
                <div [InputValidate]="inputValidate">
                  <select [(ngModel)]="bean.deathPlaceCode">
                      <option value="">---เลือก---</option>
                      <option *ngFor="let item of deadPlaceList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือกสถานที่เสียชีวิต</label>
                </div>
            </div>
            <div class="col-md-5" *ngIf="bean.deathPlaceCode=='9'">
              <div [InputValidate]="inputValidate">
                <div class="input-group date">
                  <input type="text" [(ngModel)]="bean.placeOther" placeholder="อื่นๆ ระบุ" >
                  <div class="input-group-addon" (click)="bean.deathPlaceCode=''">
                    <span class="fa fa-remove"></span>
                  </div>
                </div>
                <label class="error">กรุณาใส่สถานที่เสียชีวิต</label>
              </div>
            </div>
        </div>
          <div class="modal-footer">  
            <button class="btn btn-sm btn-confirm" (click)="onSave();">ยืนยัน</button> &nbsp;&nbsp;
            <button class="btn btn-sm btn-cancel" (click)="onBack()">{{action==ass_action.EDIT?'ยกเลิก':'กลับ'}}</button>   
          </div>

          </div>
     </div>
    <!-- /END Form -->    
    </div>
<!-- End panel-body -->
  </div>
</div>


<ass-loading [show]="loading" [config]="loadingConfig()"></ass-loading>