<!-- Modal -->
<div id="modal-add-died" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-lg modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">รายละเอียดผู้เสียชีวิต</h4>
      </div>
   
    <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal"  (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>
    
     <div class="row" *ngIf="isShowForm">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 text-right">
                <label>ชื่อ</label>
              </div>
              <div class="col-md-5">
                  <label class="value">{{diedBean.fullName}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <label>อายุ</label>
              </div>
              <div class="col-md-3">
                <label class="value">{{diedBean.age}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                <label>หมายเลขประจำตัว</label>
              </div>
              <div class="col-md-5">
                <label class="value">{{diedBean.citizenId}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">
                  <label>ที่อยู่</label>
              </div>
               <div class="col-md-5">
                  <label class="value">11/1 ถ.ดินแดง ตำบลในเมือง อ.เมือง จ.ขอนแก่น</label>
               </div>
            </div>
          <div class="row">
            <div class="col-md-3 text-right">
              <label>วันที่เสียชีวิต</label>
            </div>
            <div class="col-md-5">
              <div class="input-group date" data-provide="datepicker">
                <input type="text" readonly>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right">
              <label>สาเหตุการเสียชีวิต</label>
            </div>
            
            <div class="col-md-5"  *ngIf="diedBean.causeCode!=-9">
              <select [(ngModel)]="diedBean.causeCode" (change)="onChangeCause()" >
                <option value="">---เลือกสาเหตุ---</option>
                <option value="1">อุบัติเหตุทางจราจร</option>
                <option value="2">ความดันโลหิตสูง</option>
                <option value="-9">อื่นๆ ระบุ</option>
              </select>
              
            </div>
            <div class="col-md-5" *ngIf="diedBean.causeCode==-9">
                <div class="input-group date">
                  <input type="text" [(ngModel)]="diedBean.causeOtherCode" placeholder="อื่นๆ ระบุ" >
                  <div class="input-group-addon" (click)="diedBean.causeCode=''">
                    <span class="fa fa-remove"></span>
                  </div>
                </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3 text-right">
              <label >โรคประจำตัว</label>
            </div>
            <div class="col-md-5">
              <select [(ngModel)]="diedBean.disease">
                  <option value="1">มี</option>
                  <option value="2">ไม่มี</option>
                </select>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3 text-right">
              <label>สถานที่เสียชีวิต</label>
            </div>
    
            <div class="col-md-5" *ngIf="diedBean.placeCode!='-9'">
              <select [(ngModel)]="diedBean.placeCode" (change)="onChangePlace()">
                  <option value="">---เลือกสถานที่---</option>
                  <option value="2">บ้าน</option>
                  <option value="3">แหล่งน้ำ</option>
                  <option value="-9">อื่นๆ</option>
              </select>
            </div>
            <div class="col-md-5" *ngIf="diedBean.placeCode=='-9'">
                <div class="input-group date">
                  <input type="text" [(ngModel)]="diedBean.placeOtherName" placeholder="อื่นๆ ระบุ" >
                  <div class="input-group-addon" (click)="diedBean.placeCode=''">
                    <span class="fa fa-remove"></span>
                  </div>
                </div>
            </div>
        </div>
          <div class="modal-footer">  
            <button class="btn btn-sm btn-primary">ยืนยัน</button> &nbsp;&nbsp;
            <button class="btn btn-sm btn-primary" (click)="onBack()">กลับ</button>   
          </div>

          </div>
     </div>
    <!-- /END Form -->
      
    </div>
<!-- End panel-body -->

  </div>
</div>