<div id="find-person-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ฟอ์มคัดกรองผู้ป่วย metabolic</h4>
            </div>

            <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal" (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>

            <div *ngIf="isShowForm">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <label id="cid">หมายเลขประจำตัว :</label>
                        <label class="value">{{metabolicbean.citizenId}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>ชื่อ-สกุล :</label>
                        <label class="value">{{metabolicbean.fullName}}</label>
                    </div>

                    <div class="col-md-2" style="width: 80px; padding-right: 0px;">
                        <label class="label-form">สิทธิบัตร:</label>
                    </div>
                    <div class="col-md-2">
                        <select [(ngModel)]="metabolicbean.hInsuranceTypeId">
                            <option value="0">เลือก</option>
                            <option *ngFor="let item of healtInsuranceTypeList" value="{{item.id}}">{{item.code}}</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1" style="width: 180px;">
                        <label>เพศ :</label>
                        <label class="value">{{metabolicbean.genderName}}</label>
                        <label>อายุ :</label>
                        <label class="value">{{metabolicbean.age}} ปี</label>
                    </div>

                    <div class="col-md-8">
                        <label class="label-form">ที่อยู่ :</label>
                        <label class="value">{{metabolicbean.address}}</label>
                    </div>
                </div>

                <hr>
                <!-- ประวัติสุขภาพ -->
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isHeredityMetabolic" (change)="metabolicbean.isHeredityMetabolic = !metabolicbean.isHeredityMetabolic">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                มีประวัติ พ่อแม่ ญาติ พี่น้องสายตรงเป็นเบาหวาน
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isWaistlineOver" (change)="metabolicbean.isWaistlineOver = !metabolicbean.isWaistlineOver">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                รอบเอวในชาย >90 ซม./หญิง >80 ซม. หรือภาวะอ้วน ดัชนีมวลกาย >25 กก/ตร.ม
                            </label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isBPOver" (change)="metabolicbean.isBPOver = !metabolicbean.isBPOver">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ความดันโลหิต >140/90 mmHg หรือเคยมีประวัติเป็นโรคความดันโลหิตสูง
                            </label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isFBS" (change)="metabolicbean.isFBS = !metabolicbean.isFBS">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                มีประวัติน้ำตาลในเลือดสูง
                            </label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isCholesterol" (change)="metabolicbean.isCholesterol = !metabolicbean.isCholesterol">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                มีประวัติภาวะไขมันในเลือดสูง
                            </label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isNewborn4kg" (change)="metabolicbean.isNewborn4kg = !metabolicbean.isNewborn4kg">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                มีประวัติเป็นเบาหวานและตั้งครรภ์หรือมีบุตรน้ำหนักแรกเกิดเกิน 4 กิโลกรัม
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isHeredityHypertension" (change)="metabolicbean.isHeredityHypertension = !metabolicbean.isHeredityHypertension">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                มีประวัติความดันโลหิตสูงในญาติสายตรง
                            </label>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- ประวัติบุหรี่และของมึนเมา -->

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label class="label-form">สูบบุหรี่หรือไม่</label>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group">
                                <a type="radio" [ngClass]="noSmoke" name="radioSmoke" (click)="activeBtnsmoke('2'); clearSmokeValue();">ไม่สูบ</a>
                                <a type="radio" [ngClass]="smoke" name="radioSmoke" (click)="activeBtnsmoke('1'); clearSmokeValue();">สูบ</a>
                                <a type="radio" [ngClass]="afterSmoke" name="radioSmoke" (click)="activeBtnsmoke('3'); clearSmokeValue();">เคยแต่เลิกแล้ว</a>
                            </div>
                        </div>
                    </div>

                    <div id="smoker">
                        <div class="col-md-1 text-right" style="width: 100px">
                            <label class="label-form">สูบจำนวน</label>
                        </div>

                        <div class="col-md-1" style="padding-right: 5px; padding-left: 10px;">
                            <input type="text" placeholder="จำนวน" [(ngModel)]="metabolicbean.rollPerDay" maxlength="2" [disabled]="isRollPerDayDisabled"
                                [OnlyNumber]="true">
                        </div>

                        <div class="col-md-1" style="padding-left: 0px;">
                            <label class="label-form">มวน/วัน</label>
                        </div>

                        <div class="col-md-1" style="padding-right: 5px; padding-left: 10px;">
                            <input type="text" placeholder="จำนวน" [(ngModel)]="metabolicbean.packPerYear" maxlength="3" [disabled]="isPackPerYearDisabled"
                                [OnlyNumber]="true">
                        </div>

                        <div class="col-md-1" style="padding-left: 0px;">
                            <label class="label-form">ซอง/ปี</label>
                        </div>

                    </div>

                    <div class="row" *ngIf="isErrorSmoke">
                        <div class="col-md-12 col-md-offset-7">
                            <span class="error2">กรุณากรอกจำนวนที่สูบ</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label class="label-form">ดื่มเครื่องดื่มแอลกอฮอล์หรือไม่</label>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <div id="radioBtn" class="btn-group">
                                <a type="radio" [ngClass]="noDrink" name="radioDrink" (click)="activeBtnDrink('2'); clearDrinkValue();">ไม่ดื่ม</a>
                                <a type="radio" [ngClass]="drinks" name="radioDrink" (click)="activeBtnDrink('1'); clearDrinkValue();">ดื่ม</a>
                                <a type="radio" [ngClass]="afterDrink" name="radioDrink" (click)="activeBtnDrink('3'); clearDrinkValue();">เคยแต่เลิกแล้ว</a>
                            </div>
                        </div>
                    </div>

                    <div id="drinker">
                        <div class="col-md-1 text-right" style="width: 100px">
                            <label class="label-form">ดื่มจำนวน</label>
                        </div>

                        <div class="col-md-1" style="padding-right: 5px; padding-left: 10px;">
                            <input type="text" placeholder="จำนวน" [(ngModel)]="metabolicbean.oftenPerWeek" maxlength="2" [disabled]="isOftenPerWeekDisabled"
                                [OnlyNumber]="true">
                        </div>

                        <div class="col-md-2" style="padding-left: 0px;">
                            <label class="label-form">ครั้ง/สัปดาห์</label>
                        </div>

                        <div class="row" *ngIf="isErrorDrink">
                            <div class="col-md-12 col-md-offset-7">
                                <span class="error2">กรุณากรอกจำนวนที่ดื่ม</span>
                            </div>
                        </div>
                    </div>
                </div>


                <hr>
                <!-- การตรวจร่างกาย -->

                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-right">
                        <label class="label-form">น้ำหนัก</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" placeholder="น้ำหนัก" [(ngModel)]="metabolicbean.weight" [OnlyNumber]="true" maxlength="3">
                        <div class="row" *ngIf="isErrorWeight" style="padding-left: 20px;">
                            <span class="error2">กรุณากรอกน้ำหนัก</span>
                        </div>
                    </div>

                    <div class="col-md-1" style="padding-left: 0px;">
                        <label class="label-form">กิโลกรัม</label>
                    </div>

                    <div class="col-md-2 text-right">
                        <label class="label-form">ส่วนสูง</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" placeholder="ส่วนสูง" [(ngModel)]="metabolicbean.height" maxlength="3" [OnlyNumber]="true">
                        <div class="row" *ngIf="isErrorHeight" style="padding-left: 20px;">
                            <span class="error2">กรุณากรอกส่วนสูง</span>
                        </div>
                    </div>

                    <div class="col-md-1" style="padding-left: 0px;">
                        <label class="label-form">เซนติเมตร</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-right">
                        <label class="label-form">รอบเอว</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" placeholder="รอบเอว" [(ngModel)]="metabolicbean.waistline" maxlength="3" [OnlyNumber]="true">
                        <div class="row" *ngIf="isErrorWaistline" style="padding-left: 20px;">
                            <span class="error2">กรุณากรอกรอบเอว</span>
                        </div>
                    </div>

                    <div class="col-md-1" style="padding-left: 0px;">
                        <label class="label-form">เซนติเมตร</label>
                    </div>

                    <div class="col-md-2 text-right">
                        <label class="label-form">ดัชนีมวลกาย(BMI)</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" placeholder="ดัชนีมวลกาย" [(ngModel)]="metabolicbean.bmi" maxlength="3" [OnlyNumber]="true">
                        <div class="row" *ngIf="isErrorBMI" style="padding-left: 20px;">
                            <span class="error2">กรุณากรอกค่าBMI</span>
                        </div>
                    </div>

                    <div class="col-md-1" style="padding-left: 0px;">
                        <label class="label-form">Kg/m</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-right">
                        <label class="label-form">BP ครั้งที่1</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" placeholder="มม." [(ngModel)]="metabolicbean.bp1MM" style="width:50px" maxlength="3" [OnlyNumber]="true">
                        <label class="label-form">/</label>
                        <input type="text" placeholder="ปรอท" [(ngModel)]="metabolicbean.bp1HG" style="width:50px" maxlength="3" [OnlyNumber]="true">
                    </div>

                    <div class="col-md-1" style="padding-left: 0px;">
                        <label class="label-form">mmHg</label>
                    </div>

                    <div class="col-md-2 text-right">
                        <label class="label-form">BP ครั้งที่2</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" placeholder="มม." [(ngModel)]="metabolicbean.bp2MM" style="width:50px" maxlength="3" [OnlyNumber]="true">
                        <label class="label-form">/</label>
                        <input type="text" placeholder="ปรอท" [(ngModel)]="metabolicbean.bp2HG" style="width:50px" maxlength="3" [OnlyNumber]="true">
                    </div>

                    <div class="col-md-1" style="padding-left: 0px;">
                        <label class="label-form">mmHg</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-right">
                        <label class="label-form">ระดับน้ำตาลในเลือด</label>
                    </div>

                    <div class="col-md-2">
                        <input type="text" [(ngModel)]="metabolicbean.fbs" placeholder="ระดับน้ำตาล" maxlength="3" [OnlyNumber]="true">
                        <div class="row" *ngIf="isErrorMetabolic" style="padding-left: 20px;">
                            <span class="error2">กรุณากรอกระดับน้ำตาล</span>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- ภาวะแทรกซ้อน -->
                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-right">
                        <label class="label-form">โรค</label>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isMetabolic" (change)="metabolicbean.isMetabolic = !metabolicbean.isMetabolic">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ป่วยเป็นเบาหวาน
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isHypertension" (change)="metabolicbean.isHypertension = !metabolicbean.isHypertension">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ป่วยเป็นความดันโลหิตสูง
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-1 text-right">
                        <label class="label-form">ภาวะแทรกซ้อน</label>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isEyeComplication" (change)="metabolicbean.isEyeComplication = !metabolicbean.isEyeComplication">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ตา
                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isKidneyComplication" (change)="metabolicbean.isKidneyComplication = !metabolicbean.isKidneyComplication">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ไต
                            </label>
                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isNeuropathy" (change)="metabolicbean.isNeuropathy = !metabolicbean.isNeuropathy">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ระบบประสาท
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isPeripheralNeuropathy" (change)="metabolicbean.isPeripheralNeuropathy = !metabolicbean.isPeripheralNeuropathy">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span>
                                ปลายประสาท
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="metabolicbean.isPeripheralNeuropathy == true?true:false">
                        <input class="label-form" type="text" placeholder="กรุณาระบุชื่อโรคประสาท" [(ngModel)]="metabolicbean.peripheralName" />
                        <div class="row" *ngIf="isErrorPeripheralName" style="padding-left: 20px;">
                            <span class="error2">กรุณาระบุชื่อโรคประสาท</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="checkbox">
                            <label class="label-form" style="font-size: 1em">
                                <input type="checkbox" [checked]="metabolicbean.isOther" (change)="metabolicbean.isOther = !metabolicbean.isOther">
                                <span class="cr">
                                    <i class="cr-icon fa fa-check"></i>
                                </span> อื่นๆ</label>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="metabolicbean.isOther == true?true:false">
                        <input class="label-form" type="text" placeholder="ภาวะแทรกซ้อนอื่นๆ" [(ngModel)]="metabolicbean.otherComplication" />
                        <div class="row" *ngIf="isErrorOthercomplication" style="padding-left: 20px;">
                            <span class="error2">กรุณาระบุภาวะแทรกซ้อน</span>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <!-- <div class="col-md-3 col-md-offset-3" *ngIf="metabolicbean.isOther == true?true:false">
                        <input type="text" placeholder="ภาวะแทรกซ้อนอื่นๆ" [(ngModel)]="metabolicbean.otherComplication" />
                        <div class="row" *ngIf="isErrorOthercomplication" style="padding-left: 20px;">
                            <span class="error2">กรุณาระบุภาวะแทรกซ้อน</span>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-3 col-md-offset-3" *ngIf="metabolicbean.isPeripheralNeuropathy == true?true:false">
                        <input type="text" placeholder="กรุณาระบุชื่อโรคประสาท" [(ngModel)]="metabolicbean.peripheralName" />
                        <div class="row" *ngIf="isErrorPeripheralName" style="padding-left: 20px;">
                            <span class="error2">กรุณาระบุชื่อโรคประสาท</span>
                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-sm btn-primary" (click)="addSurvey()">ยืนยัน</button> &nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="onBack()">กลับ</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>