#radioBtn .notActive{
    color: #3276b1;
    background-color: #f5f5f5;
}

.btn {
    min-width: 50px;
}

#radioBtn2 .notActive2{
    color: #3276b1;
    background-color: #f5f5f5;
}

.label_space{
    padding-right: 15px;
}

.error{
    color: red;
}


button.accordion {
    background-color: #f5f5f5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-left: 6px solid #f0810f; 
    /* border-bottom: 6px solid #f0810f; */
    
}

button.accordion[aria-expanded="true"]:after {
    content: '\02796'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

#person-detail{
    background-color: #fff;
}
#person-history{
    background-color: #fff;
}
#person-drug{
    background-color: #fff;
}
#person-disease{
    background-color: #fff;
}
#person-check{
    background-color: #fff;
}


button.accordion[aria-expanded="false"]:after {
    content: '\02795'; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
} 



.checkbox{
    margin-top: 0px;
    margin-bottom: 0px;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.cr{
    background-color: white;    
}







