<div class="row">
    <div class="col-md-2 text-right">
        <label class="label-form">รอบสำรวจ</label>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="filterBean.rowGUID" #round (change)="onChangeRound(round)">
            <option *ngFor="let item of headerList" [value]="item.rowGUID">{{item.round}}</option>
        </select>
    </div>
    <div class="col-md-1 text-right">
        <label class="label-form">หมู่บ้าน</label>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="filterBean.villageId" #village (change)="onChangeVillage(village)">
            <option value="">ทั้งหมด</option>
            <option *ngFor="let village of villageData" [value]="village.id">{{village.villageName}}</option>
        </select>
    </div>

</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="label-form">ประเภทสถานที่</label>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="filterBean.homeType" #hometype (change)="onChangeHometype(hometype);">
            <option value="">ทั้งหมด</option>
            <option *ngFor="let hometype of HomeTypeData" [value]="hometype.code">{{hometype.name}}</option>
        </select>
    </div>
    <div class="col-md-1 text-right">
        <label class="label-form">อสม.</label>
    </div>
    <div class="col-md-4">
        <select [disabled]="filterBean.villageId==''" [(ngModel)]="filterBean.osmId" #osm (change)="onChangeOSM(osm)">
            <option value="">ทั้งหมด</option>
            <option *ngFor="let osm of osmData" [value]="osm.personId">{{osm.fullName}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-2 text-right">
        <label class="label-form">สถานที่</label>
    </div>
    <div class="col-md-4">
        <select [disabled]="filterBean.villageId == '' || filterBean.homeType == '' " [(ngModel)]="filterBean.homeId" #homedata (change)="onChangeHomename(homedata)">
            <option value="">ทั้งหมด</option>
            <option *ngFor="let homedata of HomeNameData" [value]="homedata.homeId">{{homedata.name}}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-sm" (click)="onSearchFilter()" id="filter-btnSearch">แสดงข้อมูล</button>
    </div>
</div>