<div class="header-menu">
    <ul class="nav navbar-nav">

        <!--<li class="menu-item">-->
            <!--<a routerLink="" [ngClass]="classMenus.menu1" #menu (click)="onMenu(menu)">หน้าหลัก</a>-->
        <!--</li>-->
        <!--<li class="menu-item">-->
            <!--<a routerLink="/about-system" [ngClass]="classMenus.menu2" #menu (click)="onMenu(menu)">เกี่ยวกับระบบ</a>-->
        <!--</li>-->
        <!--<li class="menu-item">-->
            <!--<a routerLink="/contact-us" [ngClass]="classMenus.menu3" #menu (click)="onMenu(menu)">ติดต่อเรา</a>-->
        <!--</li>-->
        <!--<li class="menu-item">-->
            <!--<a routerLink="/register" [ngClass]="classMenus.menu4" #menu (click)="onMenu(menu)">ลงทะเบียน</a>-->
        <!--</li>-->
      <ng-container *ngFor="let item of menus">
        <li class="menu-item">
          <a [routerLink]="item.link" [ngClass]="item.class">{{item.title}}</a>
        </li>
      </ng-container>


    </ul>

</div>
