<div class="panel panel-default">

  <div class="panel-heading">
    <label>เปลี่ยนรหัสผ่าน</label>
  </div>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">รหัสผ่านเก่า</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateOldPassword">
          <input type="password" maxlength="20" autocomplete="false" [(ngModel)]="oldPassword">
          <label class="error">{{ error_message_oldPassword }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">รหัสผ่านใหม่</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateNewPassword">
          <input type="password" maxlength="20" autocomplete="false" [(ngModel)]="newPassword">
          <label class="error">{{ error_message_newPassword }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <label class="label-form">ยืนยันรหัสผ่านใหม่</label>
      </div>
      <div class="col-md-4">
        <div [InputValidate]="validateConfirmNewPassword">
          <input type="password" maxlength="20" autocomplete="false" [(ngModel)]="confirmNewPassword">
          <label class="error">{{ error_message_confirmNewPassword }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-sm" (click)="onClickSave();">ยืนยัน</button>
        <button class="btn btn-primary btn-sm" (click)="onClickCancel();">ยกเลิก</button>
      </div>
    </div>

  </div>