<div class="row">
  <div class="col-md-12" style="border: 1px solid #b3afaf;">
    <!-- <input places-auto-complete (place_changed)="placeChanged($event)" [types]="['geocode']" /> -->
    <ngui-map [scrollwheel]="'false'" [zoom]="zoom" [center]="center" (mapReady$)="onMapReady($event)" (mapClick)="onMapClick($event)" (idle)="onIdle($event)"
      mapTypeId="ROADMAP">
      <div *ngIf="position">
      <marker [position]="position" [draggable]="draggable" (initialized$)="onMarkerInit($event)" (click)="onMarkerClick($event)" (positionChanged)="onPositionChanged($event)"></marker>
      <info-window id="iw">
        <div>
          {{ info_content }}
        </div>
      </info-window>
    </div>
    </ngui-map>
  </div>
</div>