.logo-left-top{
    width: 80px;
    margin-bottom: 8px;
}
.title-left-header{
    font-size: 38px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;
}
  .navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
  background-color: #42c8fb;
}
label.value{
    font-size: 14px;
    color: #2d4f84;
    padding-left: 3px;
}
