  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{bean.personId?'แก้ไข':'เพิ่ม'}}เจ้าหน้าที่ {{isStaff?'รพ.สต.':'อสม.'}}</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">{{getLabel('lbl_citizenid')}}</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate" [citizenId]="true">
                <div class="input-group">
                  <input type="text" [(ngModel)]="bean.citizenId" [OnlyNumber]="true" maxlength="13" [disabled]="false">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm btn-flat" (click)="onClickVerifyCitizenId();" *ngIf="isShowVerify">ตรวจสอบ</button>
                    <button class="btn btn-primary btn-sm btn-flat" (click)="onClickEditCitizenId();" *ngIf="false">แก้ไข</button>
                  </span>
                </div>
                <label class="error">กรุณาใส่หมายเลขประชาชนเป็นตัวเลข 13 หลัก</label>
              </div>
            </div>
          </div>
      <div *ngIf="isVerify">
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">เพศ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.genderId" (change)="onGenderChange()">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of genderList" [value]="item.id">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกเพศ</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">คำนำหน้า</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.prefixCode" [disabled]="!bean.genderId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of prefixList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกคำนำหน้า</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ชื่อ</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.firstName">
                <label class="error">กรุณาใส่ชื่อ</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">นามสกุล</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.lastName">
                <label class="error">กรุณาใส่นามสกุล</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">วัน/เดือน/ปี เกิด</label>
            </div>
            <div class="col-md-5">
              <div [InputValidate]="inputValidate">
                <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="mBirthDate" required></my-date-picker>
                <label class="error">กรุณาเลือก วัน/เดือน/ปี เกิด</label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!isStaff">
            <div class="col-md-4 text-right">
              <label class="label-form">หมู่บ้าน</label>
            </div>
            <div class="col-md-6">  
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.villageId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of villageList" [value]="item.id">{{item.villageNo}} : {{item.villageName}}</option>
                </select>
                <label class="error">กรุณาเลือกหมู่บ้าน</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label>สถานะผู้ใช้</label>
            </div>
            <div class="col-md-6">
              <select type="text" [(ngModel)]="bean.userActive">
                <option [value]="true">พร้อมใช้งาน</option>
                <option [value]="false">ปิดการใช้งาน</option>
              </select>
            </div>
          </div>


      </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary" (click)="onSave();" [disabled]="!isVerify" >ตกลง</button>
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>

  <ass-loading [show]="loading"></ass-loading>
