  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{bean.personId?'แก้ไข':'เพิ่ม'}}เจ้าหน้าที่ {{isStaff?'รพ.สต.':'อสม.'}}</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">{{getLabel('lbl_citizenid')}}</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate" [citizenId]="true">
                <input type="text" [(ngModel)]="bean.citizenId" [OnlyNumber]="true" maxlength="13" [disabled]="false">
                <label class="error">กรุณาใส่หมายเลขประชาชนให้ถูกต้อง</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">เพศ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.genderId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of genderList" [value]="item.id">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกเพศ</label>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">คำนำหน้า</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.prefixCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of prefixList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกคำนำหน้า</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ชื่อ</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.firstName">
                <label class="error">กรุณาใส่ชื่อ</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">นามสกุล</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.lastName">
                <label class="error">กรุณาใส่นามสกุล</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">วัน/เดือน/ปี เกิด</label>
            </div>
            <div class="col-md-5">
              <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="bean.birthDate" required></my-date-picker>
            </div>
          </div>

          <div class="row" *ngIf="!isStaff">
            <div class="col-md-4 text-right">
              <label class="label-form">หมู่บ้าน</label>
            </div>
            <div class="col-md-6">  
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.villageId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of villageList" [value]="item.id">{{item.villageNo}} : {{item.villageName}}</option>
                </select>
                <label class="error">กรุณาเลือกหมู่บ้าน</label>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary" (click)="onSave();">ตกลง</button>
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>

  <ass-loading [show]="loading"></ass-loading>
