<div id="find-person-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">แบบสำรวจหญิงตั้งครรภ์</h4>
            </div>
            <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal" (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>

            <div *ngIf="isShowForm">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <label id="cid">หมายเลขประจำตัว :</label>
                        <label class="value">{{pregnantbean.citizenId}}</label>
                    </div>
                    <div class="col-md-3">
                        <label>ชื่อ-สกุล :</label>
                        <label class="value">{{pregnantbean.fullName}}</label>
                    </div>

                    <!-- <div class="col-md-2" style="width: 80px; padding-right: 0px;">
                        <label class="label-form">สิทธิบัตร:</label>
                    </div>
                    <div class="col-md-2">
                        <select [(ngModel)]="healtInsuranceTypeList.id">
                            <option value="0">เลือก</option>
                            <option *ngFor="let item of healtInsuranceTypeList" value="{{item.id}}">{{item.code}}</option>
                        </select>
                    </div> -->

                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1" style="width: 180px;">
                        <label>เพศ :</label>
                        <label class="value">{{pregnantbean.genderName}}</label>
                        <label>อายุ :</label>
                        <label class="value">{{pregnantbean.age}} ปี</label>
                    </div>

                    <div class="col-md-8">
                        <label class="label-form">ที่อยู่ :</label>
                        <label class="value">{{pregnantbean.address}}</label>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-2 text-right">
                        <label class="label-form">สถานะครรภ์</label>
                    </div>
                    <div class="col-md-4">
                        <select [(ngModel)]="pregnantType">
                            <option value="0">กำลังตั้งครรภ์</option>
                            <option value="1">คลอดแล้ว</option>
                        </select>
                    </div>

                    <div [hidden]="pregnantType == '0'? false:true">
                        <div class="col-md-2 text-right">
                            <label class="label-form">กำหนดคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker [options]="datePickerOptions" required></my-date-picker>
                        </div>
                    </div>


                    <div [hidden]="pregnantType == '1'? false:true">
                        <div class="col-md-1 text-right">
                            <label class="label-form">วันคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker [options]="datePickerOptions" required></my-date-picker>
                        </div>
                    </div>

                </div>

                <div [hidden]="pregnantType == '1'? false:true">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label>โรงพยาบาลที่คลอด</label>
                        </div>
                        <div class="col-md-4">
                            <select>
                                <option value="0">--เลือกโรงพยาบาล--</option>
                                <option value="1">โรงพยาบาลปอเนาะ</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="label-form">วิธีคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="bornType">
                                <option value="0">--เลือกวิธีคลอด--</option>
                                <option value="1">คลอดเอง</option>
                                <option value="2">ผ่าคลอด</option>
                                <option value="3">เครื่องดูด</option>
                                <option value="4">แท้ง</option>
                            </select>
                        </div>

                    </div>

                    <div class="row" [hidden]="bornType == 4? false:true">
                        <div class="col-md-2 text-right">
                            <label class="label-form">หมายเหตุ</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">หมายเลขประจำตัว</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text">
                        </div>

                        <div class="col-md-1 text-right">
                            <label class="label-form">เพศ</label>
                        </div>
                        <div class="col-md-2">
                            <select>
                                <option value="0">--เลือกเพศ--</option>
                                <option value="1">ชาย</option>
                                <option value="2">หญิง</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">ชื่อ</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text">
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="label-form">สกุล</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">กรุ๊ปเลือด</label>
                        </div>
                        <div class="col-md-3">
                            <select>
                                <option value="0">--เลือกกรุ๊ปเลือด--</option>
                                <option value="1">A</option>
                                <option value="2">ABC</option>
                            </select>
                        </div>

                        <div class="col-md-1 text-right">
                            <label class="label-form">น้ำหนัก</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-sm btn-primary">ยืนยัน</button> &nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="onBack()">กลับ</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>