<div id="find-person-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-xl modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">แบบสำรวจหญิงตั้งครรภ์</h4>
            </div>
            <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal" [surveyTypeCode]="surveyTypeCode" [documentId]="documentId"
                (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>

            <div *ngIf="isShowForm">

                <div class="row">
                    <div class="col-sm-1">
                        &nbsp;
                    </div>
                    <div class="col-sm-10">
                        <div class="panel-body">
                            <div class="panel panel-default" style="margin-bottom: inherit;">
                                <div class="panel-body">
                                    <div class="box-body">
                                        <dl class="dl-horizontal">
                                            <dt>หมายเลขประจำตัว : </dt>
                                            <dd>{{ pregnantBean.citizenId }}</dd>
                                            <dt>ชื่อ-สกุล : </dt>
                                            <dd>{{ pregnantBean.fullName }}</dd>
                                            <dt>เพศ : </dt>
                                            <dd>{{ findGenderName(pregnantBean.genderId) }}</dd>
                                            <dt>อายุ : </dt>
                                            <dd>{{ pregnantBean.age }}</dd>
                                            <dt>ที่อยู่ : </dt>
                                            <dd>{{ pregnantBean.address }}</dd>
                                        </dl>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label class="label-form">ครรภ์ที่</label>
                    </div>
                    <div class="col-md-3">
                        <div [InputValidate]="validateWombNo">
                            <input [disabled]="isHiddenEditChild" maxlength="2" [OnlyNumber]="true" type="text" [(ngModel)]="pregnantBean.wombNo">
                            <label class="error">{{ error_message_wombNo }}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label class="label-form">สถานะครรภ์</label>
                    </div>
                    <div class="col-md-3">
                        <div [InputValidate]="validateSave">
                            <select [disabled]="isHiddenEditChild" [(ngModel)]="pregnantBean.pSurveyTypeCode" (change)="onChangePregnantType(true);">
                                <option value="Pregnant">กำลังตั้งครรภ์</option>
                                <option value="Born">คลอดแล้ว</option>
                            </select>
                            <label class="error">กรุณาเลือก สถานะครรภ์</label>
                        </div>
                    </div>

                    <div [hidden]="isShowPregnantType">
                        <div class="col-md-2 text-right">
                            <label class="label-form">กำหนดคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <div [InputValidate]="validateBornDueDate">
                                <my-date-picker *ngIf="!isHiddenEditChild" name="bornDueDate" [options]="datePickerOptions" [(ngModel)]="modelBornDueDate"
                                    (dateChanged)="onChangeBornDueDate($event)"></my-date-picker>
                                <input *ngIf="isHiddenEditChild" [disabled]="isHiddenEditChild" [value]="displayFormatDate(pregnantBean.bornDueDate)" />
                                <label class="error">{{ error_message_bornDueDate }}</label>
                            </div>
                        </div>
                    </div>

                    <div [hidden]="!isShowPregnantType">
                        <div class="col-md-1 text-right">
                            <label class="label-form">วันที่คลอด</label>
                        </div>
                        <div class="col-md-3">
                            <div [InputValidate]="validateBornDate">
                                <my-date-picker *ngIf="!isHiddenEditChild" name="bornDate" [options]="datePickerOptions" [(ngModel)]="modelBornDate" (dateChanged)="onChangeBornDate($event)"></my-date-picker>
                                <input *ngIf="isHiddenEditChild" [disabled]="isHiddenEditChild" [value]="displayFormatDate(pregnantBean.bornDate)" />
                                <label class="error">{{ error_message_bornDate }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" [hidden]="!isShowPregnantType">
                    <div class="col-md-3 text-right">
                        <label>โรงพยาบาลที่คลอด</label>
                    </div>
                    <div class="col-md-3">
                        <div [InputValidate]="validateSave">
                            <div *ngIf="!isHiddenEditChild" class="input-group">
                                <select [(ngModel)]="pregnantBean.bornLocationId">
                                    <option value="">--เลือก โรงพยาบาล--</option>
                                    <option *ngFor="let item of listBornLocation" [value]="item.id">{{item.name}}</option>
                                </select>
                                <span class="input-group-addon" style="cursor: pointer;" (click)="onClickAddHospital();">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                            <select *ngIf="isHiddenEditChild" [disabled]="isHiddenEditChild" [(ngModel)]="pregnantBean.bornLocationId">
                                <option value="">--เลือก โรงพยาบาล--</option>
                                <option *ngFor="let item of listBornLocation" [value]="item.id">{{item.name}}</option>
                            </select>
                            <label class="error">กรุณาเลือก โรงพยาบาลที่คลอด</label>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <label class="label-form">วิธีคลอด</label>
                    </div>
                    <div class="col-md-3">
                        <div [InputValidate]="validateSave">
                            <select [disabled]="isHiddenEditChild" [(ngModel)]="pregnantBean.bornTypeId" (change)="onChangeBornType(false);">
                                <option value="">--เลือก วิธีคลอด--</option>
                                <option *ngFor="let item of listBornType" [value]="item.id">{{item.name}}</option>
                            </select>
                            <label class="error">กรุณาเลือก วิธีคลอด</label>
                        </div>
                    </div>

                </div>

                <div class="row" *ngIf="!isHiddenBornTypeAbort">
                    <div class="col-md-3 text-right">
                        <label class="label-form">หมายเหตุ</label>
                    </div>
                    <div class="col-md-3">
                        <textarea [disabled]="isHiddenEditChild" maxlength="100" [(ngModel)]="pregnantBean.abortionCause"></textarea>
                    </div>
                </div>

                <div class="row" [hidden]="!(pregnantBean.pSurveyTypeCode == surveyTypeBorn && pregnantBean.bornTypeId != bornTypeAbort)">
                    <!-- <div class="col-md-1">
                        &nbsp;
                    </div> -->
                    <div class="col-md-12">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                ข้อมูลเด็กทารก
                            </div>

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
                                    </div>
                                </div>

                                <div *ngIf="!isHiddenEditChild">

                                    <div class="row">
                                        <div class="col-md-2 text-right">
                                            <label class="label-form">หมายเลขประจำตัว</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div [InputValidate]="validateCitizenId" [citizenId]="true">
                                                <input [OnlyNumber]="true" type="text" [(ngModel)]="childBean.citizenId" [CitizenId]="childBean.citizenId">
                                                <label class="error">{{ error_message_citizenId }}</label>
                                            </div>
                                        </div>

                                        <div class="col-md-1 text-right">
                                            <label class="label-form">เพศ</label>
                                        </div>
                                        <div class="col-md-2">
                                            <div [InputValidate]="validateVerify">
                                                <select [(ngModel)]="childBean.genderId">
                                                    <option value="">--เลือก เพศ--</option>
                                                    <option *ngFor="let item of listGender" [value]="item.id">{{item.name}}</option>
                                                </select>
                                                <label class="error">กรุณาเลือก เพศ</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 text-right">
                                            <label class="label-form">ชื่อ</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div [InputValidate]="validateVerify">
                                                <input maxlength="50" type="text" [(ngModel)]="childBean.firstName">
                                                <label class="error">กรุณาระบุ ชื่อ</label>
                                            </div>
                                        </div>
                                        <div class="col-md-1 text-right">
                                            <label class="label-form">นามสกุล</label>
                                        </div>
                                        <div class="col-md-4">
                                            <div [InputValidate]="validateVerify">
                                                <input maxlength="50" type="text" [(ngModel)]="childBean.lastName">
                                                <label class="error">กรุณาระบุ นามสกุล</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 text-right">
                                            <label class="label-form">กรุ๊ปเลือด</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select [(ngModel)]="childBean.bloodTypeId">
                                                <option value="">--เลือก กรุ๊ปเลือด--</option>
                                                <option *ngFor="let item of listBloodType" [value]="item.id">{{item.name}}</option>
                                            </select>
                                        </div>

                                        <div class="col-md-1 text-right">
                                            <label class="label-form">น้ำหนัก</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input maxlength="4" [OnlyNumber]="true" type="text" [(ngModel)]="childBean.weight">
                                        </div>
                                        <div class="col-md-1 text-left" style="padding-left: 0;">
                                            <label class="label-form">กรัม</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-sm btn-primary" (click)="onClickConfirmChild();">ยืนยัน</button> &nbsp;&nbsp;
                                            <button class="btn btn-sm btn-primary" (click)="onClickClearChild()">ล้างข้อมูล</button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer" *ngIf="isShowForm">
                <div class="panel-body text-right">
                    <button *ngIf="!isHiddenEditChild" class="btn btn-sm btn-confirm" (click)="onClickConfirm();">ยืนยัน</button> &nbsp;&nbsp;
                    <button class="btn btn-sm btn-cancel" (click)="onClickBack()">ยกเลิก</button>
                </div>
            </div>

        </div>
    </div>
</div>
<ass-loading [show]="loading"></ass-loading>

<div id="modalHospital" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">เพิ่มโรงพยาบาล</h4>
            </div>

            <div class="row">
                <div class="col-md-3 text-right">
                    <label class="label-form">ชื่อโรงพยาบาล</label>
                </div>
                <div class="col-md-6">
                    <div [InputValidate]="validateHospital">
                        <input maxlength="255" type="text" [(ngModel)]="hospitalName">
                        <label class="error">{{ error_message_hospitalName }}</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="panel-body text-right">
                    <button class="btn btn-confirm btn-sm" (click)="onClickConfirmHospital();">ยืนยัน</button>
                    <button class="btn btn-cancel btn-sm" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>

        </div>
    </div>
</div>