<div id="find-person-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-xl modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">แบบสำรวจหญิงตั้งครรภ์</h4>
            </div>
            <app-filter-find-person [reset]="resetFind" [findPersonal]="isFindPersonal" (choosePersonal)="onChoosePersonal($event)"></app-filter-find-person>

            <div *ngIf="isShowForm">

                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-body">
                                        <dl class="dl-horizontal">
                                            <dt>หมายเลขประจำตัว : </dt>
                                            <dd>{{ pregnantBean.citizenId }}</dd>
                                            <dt>ชื่อ-สกุล : </dt>
                                            <dd>{{ pregnantBean.fullName }}</dd>
                                            <dt>เพศ : </dt>
                                            <dd>{{ pregnantBean.genderName }}</dd>
                                            <dt>อายุ : </dt>
                                            <dd>{{ pregnantBean.age }}</dd>
                                            <dt>ที่อยู่ : </dt>
                                            <dd>{{ pregnantBean.address }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label class="label-form">สถานะครรภ์</label>
                    </div>
                    <div class="col-md-4">
                        <select [(ngModel)]="pregnantType" (change)="onChangePregnantType();">
                            <option value="0">กำลังตั้งครรภ์</option>
                            <option value="1">คลอดแล้ว</option>
                        </select>
                    </div>

                    <div [hidden]="isDisplayPregnantType">
                        <div class="col-md-2 text-right">
                            <label class="label-form">กำหนดคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker [options]="datePickerOptions" required></my-date-picker>
                        </div>
                    </div>

                    <div [hidden]="!isDisplayPregnantType">
                        <div class="col-md-1 text-right">
                            <label class="label-form">วันคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <my-date-picker [options]="datePickerOptions" required></my-date-picker>
                        </div>
                    </div>
                </div>

                <div [hidden]="!isDisplayPregnantType">
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label>โรงพยาบาลที่คลอด</label>
                        </div>
                        <div class="col-md-4">
                            <select>
                                <option value="0">--เลือกโรงพยาบาล--</option>
                                <option value="1">โรงพยาบาลปอเนาะ</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="label-form">วิธีคลอด</label>
                        </div>
                        <div class="col-md-3">
                            <select [(ngModel)]="bornType">
                                <option value="0">--เลือกวิธีคลอด--</option>
                                <option value="1">คลอดเอง</option>
                                <option value="2">ผ่าคลอด</option>
                                <option value="3">เครื่องดูด</option>
                                <option value="4">แท้ง</option>
                            </select>
                        </div>

                    </div>

                    <div class="row" [hidden]="bornType == 4? false:true">
                        <div class="col-md-2 text-right">
                            <label class="label-form">หมายเหตุ</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">หมายเลขประจำตัว</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text">
                        </div>

                        <div class="col-md-1 text-right">
                            <label class="label-form">เพศ</label>
                        </div>
                        <div class="col-md-2">
                            <select>
                                <option value="0">--เลือกเพศ--</option>
                                <option value="1">ชาย</option>
                                <option value="2">หญิง</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">ชื่อ</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text">
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="label-form">สกุล</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label class="label-form">กรุ๊ปเลือด</label>
                        </div>
                        <div class="col-md-4">
                            <select>
                                <option value="0">--เลือกกรุ๊ปเลือด--</option>
                                <option value="1">A</option>
                                <option value="2">ABC</option>
                            </select>
                        </div>

                        <div class="col-md-1 text-right">
                            <label class="label-form">น้ำหนัก</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-sm btn-primary">ยืนยัน</button> &nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="onClickBack()">กลับ</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>