<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1 text-right">
        <label class="label-form">รอบสำรวจ</label>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="filterBean.roundID" (change)="onChangeRound()">
            <option value="1">ประจำเดือน พฤศจิกายน พ.ศ. 2560</option>
        </select>
    </div>
    <div class="col-md-1 text-right">
        <label class="label-form">หมู่บ้าน</label>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="filterBean.villageID"  (change)="onChangeVillage()">
            <option value="0">--เลือกหมู่บ้าน--</option>
            <option *ngFor="let village of list_village_no" [value]="village.id">{{ village.villageNo + ' : ' + village.villageName }}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1 text-right">
        <label class="label-form">ชื่อ อสม.</label>
    </div>
    <div class="col-md-4">
        <select [disabled]="filterBean.villageID<=0?true:false" [(ngModel)]="filterBean.OSMID"  (change)="onChangeOSM()">
          <option value="0">--เลือก อสม.--</option>  
      </select>
    </div>
    <div class="col-md-1 text-right">
        <label class="label-form">ชื่อ</label>
    </div>
    <div class="col-md-4">
        <input type="text" [(ngModel)]="filterBean.name">
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-sm" (click)="onSearchFilter()" id="filter-btnSearch">แสดงข้อมูล : {{typeCode}}</button>
    </div>
</div>



