<div class="panel panel-default">

  <div style="background-color: rgba(118, 128, 218, 0.25);" class="panel-heading">
    <!-- <h4 style="color: #000000;">แบบสำรวจข้อมูลผู้เสียชีวิต</h4> -->
    <label>แบบสำรวจข้อมูลบุคคล</label>
  </div>

  <div class="panel-body">
    <app-filter-personal (notifyFilter)="clickSearch($event)"></app-filter-personal>

    <div id="panel_table_personal" class="row" *ngIf="isShowTable">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>