<div class="panel panel-default">

  <div class="panel-heading">
    <!-- <h4 style="color: #000000;">แบบสำรวจข้อมูลผู้เสียชีวิต</h4> -->
    <label>แบบสำรวจข้อมูลบุคคล</label>
  </div>

  <div class="panel-body">
    <app-filter-personal (notifyFilter)="onClickSearch($event)"></app-filter-personal>

    <div class="row"  *ngIf="!isStaff">
      <div class="col-md-12">
        <button class="btn btn-primary btn-sm" (click)="onClickAdd();">เพิ่มบ้าน</button>
      </div>
    </div>

    <div id="panel_table_personal" class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <div class="table-responsive">
          <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
        </div>
      </div>
    </div>

  </div>

  <app-management-home-form [bean]="homeBean"></app-management-home-form>
  <ass-loading [show]="loading"></ass-loading>