<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
      <label class="label-form">เลือกหมู่</label>
    </div>
    <div class="col-md-3">
      <select name="filter-villageNo" [(ngModel)]="filterBean.villageID">
        <option value="0">--เลือกหมู่บ้าน--</option>
        <option *ngFor="let village of list_village_no" [value]="village.id">{{ village.villageNo }}</option>
        <!-- <option value="1">1</option>
        <option value="2">2</option> -->
      </select>
    </div>
    <div class="col-md-2 text-right">
      <label class="label-form">ชื่อ อสม.</label>
    </div>
    <div class="col-md-3">
        <select name="filter-osmName" [(ngModel)]="filterBean.OSMID">
            <option value="0">--เลือก อสม.--</option>
            <option value="1">นายวศิน อิอิ</option>
            <option value="2">นางสาวอิฐ ตะกร</option>
        </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-right">
      <label class="label-form">บ้านเลขที่</label>
    </div>
    <div class="col-md-3">
      <select name="filter-homeNo" [(ngModel)]="filterBean.homeID">
        <option value="0">--เลือก บ้านเลขที่--</option>
        <option value="1">101</option>
        <option value="2">102</option>
        </select>
    </div>
  
  </div>
  <div>
<div class="row text-center" style="margin-top: 10px;">
    <button class="btn btn-primary" (click)="doSearchFilter()" id="filter-btnSearch"><i class="fa fa-search"> ค้นหา</i></button>
  </div>
</div>
