<div class="row"> 
  <div class="col-sm-12">
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          การค้นหา
        </a>
  </div>
</div>
<div class="collapse" id="collapseExample">
  <form action="#" method="post" name="filter-form" id="filter-form">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-right" style="height: 40px">
        <label>เขต :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-right">
        <label class="label-form">เลือกหมู่</label>
      </div>
      <div class="col-md-3">
        <select name="filter-numberMoo" id="filter-numberMoo">
          <option>เลือกหมู่</option>
        </select>
      </div>
      <div class="col-md-2 text-right">
        <label class="label-form">ชื่อ อสม.</label>
      </div>
      <div class="col-md-3">
        <input name="filter-asmName" id="filter-asmName" type="text">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-right">
        <label class="label-form">บ้านเลขที่</label>
      </div>
      <div class="col-md-3">
        <input name="filter-numberHome" id="filter-numberHome" type="text">
      </div>

      <div class="col-md-2 text-right">
        <label class="label-form">รหัสบ้าน</label>
      </div>
      <div class="col-md-3">
        <input name="filter-homeId" id="filter-homeId" type="text">
      </div>
    </div>
    <div class="row text-center">
      <button class="btn btn-primary" id="filter-btnSearch">ค้นหา</button>
    </div>
  </form>
</div>
