<!-- Modal -->
<div class="modal fade" id="modal-management-home-member-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{bean.personId?'แก้ไข':'เพิ่ม'}}สมาชิก</h4>
      </div>
      <div class="modal-body" style="padding-right: 40px">
      <div class="row">
          <div class="col-md-4 text-right">
            <label class="label-form">{{getLabel('lbl_citizenid')}}</label>
          </div>
          <div class="col-md-5">
            <div [InputValidate]="inputValidate" [citizenId]="true">
              <div class="input-group">
                <input type="text" [(ngModel)]="bean.citizenId" [CitizenId]="bean.citizenId" [disabled]="false">
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-sm btn-flat" (click)="onVerifyCitizenId();" *ngIf="action==ass_action.ADD">ตรวจสอบ</button>
                </span>
              </div>
              <label class="error">{{msgError_CitizenId}}</label>
            </div>
          </div>
        </div>
    <br>
        <div *ngIf="isVerify">
          <div class="row">
            <div class="col-md-2 text-right">
              <label class="label-form">เพศ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.genderId" (change)="onGenderChange()">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of genderList" [value]="item.id">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกเพศ</label>
              </div>
            </div>
            <div class="col-md-2 text-right">
              <label class="label-form">คำนำหน้า</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.prefixCode" [disabled]="bean.genderId==''">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of prefixList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกคำนำหน้า</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>ชื่อ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.firstName" maxlength="50">
                <label class="error">กรุณาใส่ชื่อ</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>นามสกุล</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.lastName" maxlength="50">
                <label class="error">กรุณาใส่นามสกุล</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>วัน/เดือน/ปี เกิด</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate" BirthDate="BirthDate" (notify)="validBirthDate($event);">
                  <my-date-picker [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeBirthDate($event)"
                  [disabled]="isDisablePersonData"></my-date-picker>
                <label class="error">{{msgError_BirthDate}}</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>เชื้อชาติ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.raceCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of raceList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกเชื้อชาติ</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>สัญชาติ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.nationalityCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of nationalityList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกสัญชาติ</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>ศาสนา</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.religionCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of religionList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกศาสนา</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>กรุ๊ปเลือด</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.bloodTypeId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of bloodTypeList" [value]="item.id">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกกรุ๊ปเลือด</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>RH Group</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.rhGroupId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of rhGroupList" [value]="item.id">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือก RH Group</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>การศึกษา</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.educationCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of educationList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกการศึกษา</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>อาชีพ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.occupationCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of occupationList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกอาชีพ</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>ความสัมพันธ์</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select type="text" [(ngModel)]="bean.familyStatusId">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of familyStatusList" [value]="item.id">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกความสัมพันธ์</label>
              </div>
            </div>
            
          </div> 
          <div class="row">
            <div class="col-md-2 text-right" style="padding:0;">
              <label>ประเภทการอยู่อาศัย</label>
            </div>
            <div class="col-md-10">
                <div class="row"> 
                  <div class="col-md-6">
                    <div class="radio">
                      <label class="label-form">
                        <input type="radio" name="isGuest" [value]="false" [(ngModel)]="bean.isGuest" (change)="onIsGuest()">
                        <span class="cr">
                          <i class="cr-icon fa fa-check"></i>
                        </span>
                        มีชื่อในสำเนาทะเบียนบ้านจริง                        
                      </label>
                    </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="radio">
                      <label class="label-form">
                        <input type="radio" name="isGuest" [value]="true" [(ngModel)]="bean.isGuest" (change)="onIsGuest()">
                        <span class="cr">
                          <i class="cr-icon fa fa-check"></i>
                        </span>
                        ไม่มีชื่อในสำเนาทะเบียนบ้าน แต่ตัวอยู่จริง
                      </label>
                    </div> 
                  </div>
                </div>
                <label class="error" id="is-guest-error">กรุณาเลือกประเภทการอยู่อาศัย</label>
            </div>
          </div>
        
        <div *ngIf="bean.isGuest">
          <hr style="margin: 2px">
          <div class="row">
            <div class="col-md-12">
              <label>ที่อยู่ตามบัตรประชาชน</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 text-right">
              <label>บ้านเลขที่</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.homeNo">
                <label class="error">กรุณาใส่บ้านเลขที่</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>หมู่ที่</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.mooNo">
                <label class="error">กรุณาใส่หมู่ที่</label>
              </div>
            </div>

          </div>
          
          <div class="row">
            <div class="col-md-2 text-right">
              <label>ถนน</label>
            </div>
            <div class="col-md-4">
              <input type="text" [(ngModel)]="bean.road">
            </div>

            <div class="col-md-2 text-right">
              <label>จังหวัด</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.provinceCode" (change)="onChangeProvince()">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of provinceList" [value]="item.codeId">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกจังหวัด</label>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-2 text-right">
              <label>อำเภอ</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.amphurCode" (change)="onChangeAmphur()" [disabled]="!bean.provinceCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of amphurList" [value]="item.code">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกอำเภอ</label>
              </div>
            </div>

            <div class="col-md-2 text-right">
              <label>ตำบล</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate">
                <select [(ngModel)]="bean.tumbolCode" [disabled]="!bean.amphurCode">
                  <option value="">---เลือก---</option>
                  <option *ngFor="let item of tumbolList" [value]="item.codeId">{{item.name}}</option>
                </select>
                <label class="error">กรุณาเลือกตำบล</label>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="onSave()" [disabled]="!isVerify">ตกลง</button>
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>
<ass-loading [show]="loading"></ass-loading>
