<div id="modalMember" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-xl modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">ข้อมูลสมาชิก</h4>
      </div>

      <div class="panel-body">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">หมายเลขประจำตัว</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateVerify" [citizenId]="true">
                  <input type="text" [CitizenId]="memberBean.citizenId" [(ngModel)]="memberBean.citizenId">
                  <label class="error">กรุณาใส่หมายเลขประชาชนเป็นตัวเลข 13 หลัก</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">เพศ</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-gender" id="dropdown-gender" [(ngModel)]="memberBean.genderId" #gender (change)="onChangeGender(gender)">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listGender" [value]="item.id">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือกเพศ</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">คำนำหน้า</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-prefix" id="dropdown-prefix" [(ngModel)]="memberBean.prefixCode" #prefix (change)="onChangePrefix(prefix)">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listPrefix" [value]="item.code">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือกคำนำหน้า</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">ชื่อ</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <input maxlength="50" [(ngModel)]="memberBean.firstName">
                  <label class="error">กรุณาใส ชื่อ</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">นามสกุล</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <input type="text" maxlength="50" [(ngModel)]="memberBean.lastName">
                  <label class="error">กรุณาใสนามสกุล</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">วัน/เดือน/ปี เกิด</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave" BirthDate="BirthDate" (notify)="validBirthDate($event);">
                  <my-date-picker name="birthDate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeBirthDate($event)"></my-date-picker>
                  <label class="error">กรุณาเลือกวัน/เดือน/ปี เกิด</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">การศึกษา</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-education" id="dropdown-education" [(ngModel)]="memberBean.educationCode">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listEducation" [value]="item.code">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือกการศึกษา</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">อาชีพ</label>
              </div>
              <div class="col-md-3">
                <select name="dropdown-occupationCode" id="dropdown-occupationCode" [(ngModel)]="memberBean.occupationCode">
                  <option value="">--เลือก--</option>
                  <option *ngFor="let item of listOccupation" [value]="item.code">{{item.name}}</option>
                </select>
              </div>

              <div class="col-md-2 text-right">
                <label class="label-form">โรคประจำตัว</label>
              </div>
              <div class="col-md-3">
                <input type="text" [(ngModel)]="memberBean.congenitalDisease">
              </div>

            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">ความสัมพันธ์</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-familyStatus" id="dropdown-familyStatus" [(ngModel)]="memberBean.familyStatusId" #familyStatus (change)="onChangeFamilyStatus(familyStatus)">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listFamilyStatus" [value]="item.id">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือกความสัมพันธ์</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">สถานะการจำหน่าย</label>
              </div>
              <div class="col-md-3">
                <select name="dropdown-discharge" id="dropdown-discharge" [(ngModel)]="memberBean.dischargeId">
                  <option *ngFor="let item of listDischarge" [value]="item.id">{{item.name}}</option>
                </select>
              </div>


            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">หมายเหตุ</label>
              </div>
              <div class="col-md-3">
                <textarea style="height: 50px;" placeholder="หมายเหตุ" [(ngModel)]="memberBean.remark"></textarea>
              </div>
              <div *ngIf="memberBean.dischargeId != '9'">
                <div class="col-md-2 text-right">
                  <label class="label-form">วันที่จำหน่าย</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateSave" BirthDate="BirthDate" (notify)="validDischargeDate($event);">
                    <my-date-picker name="dischargeDate" [options]="datePickerOptions" [(ngModel)]="modelDischargeDate"></my-date-picker>
                    <label class="error">กรุณาเลือกวันที่จำหน่าย</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">สถานะอยู่</label>
              </div>
              <div class="col-md-2" style="width: 140px;">
                <div class="radio" style="padding-left: 5px;">
                  <label class="label-form" style="font-size: 1em">
                    <input type="radio" name="existsType" id="existsType1" [value]="true" [(ngModel)]="memberBean.isExists">
                    <span class="cr">
                      <i class="cr-icon fa fa-check"></i>
                    </span>
                    อยู่จริง
                  </label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label class="label-form" style="font-size: 1em">
                    <input type="radio" name="existsType" id="existsType2" [value]="false" [(ngModel)]="memberBean.isExists">
                    <span class="cr">
                      <i class="cr-icon fa fa-check"></i>
                    </span>
                    ไม่อยู่จริง
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">ประเภทการอยู่อาศัย</label>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="radio" style="margin-bottom: 10px;">
                      <label class="label-form" style="font-size: 1em">
                        <input type="radio" name="guestType" id="guest1" [value]="false" [(ngModel)]="memberBean.isGuest" (change)="onChangeGuest()" [disabled]="memberBean.familyStatusId=='1'">
                        <span class="cr">
                          <i class="cr-icon fa fa-check"></i>
                        </span>
                        มีชื่อในสำเนาทะเบียนบ้านจริง
                      </label>
                    </div>
                    <div class="radio">
                      <label class="label-form" style="font-size: 1em">
                        <input type="radio" name="guestType" id="guest2" [value]="true" [(ngModel)]="memberBean.isGuest" (change)="onChangeGuest()" [disabled]="memberBean.familyStatusId=='1'">
                        <span class="cr">
                          <i class="cr-icon fa fa-check"></i>
                        </span>
                        ไม่มีชื่อในสำเนาทะเบียนบ้าน แต่ตัวอยู่จริง
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="memberBean.isGuest">

              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right">
                  <label class="label-form">บ้านเลขที่</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateAddress">
                    <input type="text" [(ngModel)]="memberBean.homeNo">
                    <label class="error">กรุณาใส่บ้านเลขที่</label>
                  </div>

                </div>
                <div class="col-md-2 text-right">
                  <label class="label-form">หมู่ที่</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateAddress">
                    <input type="text" [(ngModel)]="memberBean.mooNo">
                    <label class="error">กรุณาใส่หมู่ที่</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right">
                  <label class="label-form">ถนน</label>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="memberBean.road">
                </div>
                <div class="col-md-2 text-right">
                  <label class="label-form">จังหวัด</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateAddress">
                    <select [(ngModel)]="memberBean.provinceCode" (change)="onChangeProvince()">
                      <option value="">--เลือก--</option>
                      <option *ngFor="let item of listProvince" [ngValue]="item.codeId">{{ item.name }}</option>
                    </select>
                    <label class="error">กรุณาเลือกจังหวัด</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right">
                  <label class="label-form">อำเภอ</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateAddress">
                    <select  [(ngModel)]="memberBean.amphurCode" (change)="onChangeDistrict()" [disabled]="memberBean.provinceCode == '' ? true : false">
                      <option value="">--เลือก--</option>
                      <option *ngFor="let item of listDistrict" [value]="item.code">{{ item.name }}</option>
                    </select>
                    <label class="error">กรุณาเลือกอำเภอ</label>
                  </div>
                </div>
                <div class="col-md-2 text-right">
                  <label class="label-form">ตำบล</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateAddress">
                    <select [(ngModel)]="memberBean.tumbolCode" (change)="onChangeSubDistrict()" [disabled]="memberBean.amphurCode == '' ? true : false">
                      <option value="">--เลือก--</option>
                      <option *ngFor="let item of listSubDistrict" [value]="item.codeId">{{ item.name }}</option>
                    </select>
                    <label class="error">กรุณาเลือกตำบล</label>
                  </div>
                </div>
              </div>


        </div>

        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" (click)="onClickSave();">บันทึก</button>
          <button class="btn btn-primary btn-sm" data-dismiss="modal">ยกเลิก</button>
        </div>

      </div>
    </div>
  </div>
  <ass-loading [show]="loading"></ass-loading>
