<div id="modalMember" class="modal fade" role="dialog">
  <div class="modal-xl modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ข้อมูลสมาชิก</h4>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">ประเภทการเข้าอยู่อาศัย</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-typeArea" id="dropdown-typeArea" [(ngModel)]="member.typeAreaCode">
              <option value="">--เลือกประเภท--</option>
              <option *ngFor="let item of listTypeArea" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">หมายเลขประจำตัว</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [disabled]="true" [(ngModel)]="member.citizenId">
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">คำนำหน้าชื่อ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-prefix" id="dropdown-prefix" [(ngModel)]="member.prefixCode">
              <option value="">--เลือก คำนำหน้าชื่อ--</option>
              <option *ngFor="let item of listPrefix" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">ชื่อจริง</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="member.firstName">
          </div>
          <div class="col-md-1 text-right">
            <label class="label-form">นามสกุล</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="member.lastName">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">เพศ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-gender" id="dropdown-gender" [(ngModel)]="member.genderCode">
              <option value="">--เลือก เพศ--</option>
              <option *ngFor="let item of listGender" [value]="item.code">{{item.name}}</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">เชื้อชาติ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-race" id="dropdown-race" [(ngModel)]="member.raceCode">
              <option value="">--เลือก เชื้อชาติ--</option>
              <option *ngFor="let item of listRace" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">สัญชาติ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-nation" id="dropdown-nation" [(ngModel)]="member.nationalityCode">
              <option value="">--เลือก สัญชาติ--</option>
              <option *ngFor="let item of listNationality" [value]="item.code">{{item.name}}</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">ศาสนา</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-race" id="dropdown-race" [(ngModel)]="member.religionCode">
              <option value="">--เลือก ศาสนา--</option>
              <option *ngFor="let item of listReligion" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">กรุ๊ปเลือด</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-blood" id="dropdown-blood" [(ngModel)]="member.bloodTypeId">
              <option value="">--เลือก กรุ๊ปเลือด--</option>
              <option *ngFor="let item of listBloodType" [value]="item.id">{{item.name}}</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">RH Group</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-rhGroup" id="dropdown-rhGroup" [(ngModel)]="member.rhGroupId">
              <option value="">--เลือก RH Group--</option>
              <option *ngFor="let item of listRHGroup" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">วันเดือนปี เกิด</label>
          </div>
          <div class="col-md-3">
            <input type="text" [disabled]="true" [(ngModel)]="member.birthDate">
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">การศึกษา</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-education" id="dropdown-education" [(ngModel)]="member.educationCode">
              <option value="">--เลือก ระดับการศึกษา--</option>
              <option *ngFor="let item of listEducation" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">อาชีพ</label>
          </div>
          <div class="col-md-3">
            <!-- <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="member.occupCode"> -->
            <select name="dropdown-occupationCode" id="dropdown-occupationCode" [(ngModel)]="member.occupationCode" (change)="onChangeOccupation()">
              <option value="">--เลือก อาชีพ--</option>
              <option *ngFor="let item of listOccupation" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-1 text-right" *ngIf="isDisplayOccupationOthers">
            <label class="label-form">อื่นๆ โปรดระบุ</label>
          </div>
          <div class="col-md-3" *ngIf="isDisplayOccupationOthers">
            <input type="text" class="ng-pristine ng-valid ng-touched">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">สถานะอยู่</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-discharge" id="dropdown-discharge" [(ngModel)]="member.dischargeId">
              <option value="">--เลือก สถานะ--</option>
              <option *ngFor="let item of listDischarge" [value]="item.id">{{item.name}}</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">สถานะ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-familyStatus" id="dropdown-familyStatus" [(ngModel)]="member.familyStatus">
              <option value="">--เลือก สถานะ--</option>
              <option *ngFor="let item of listFamilyStatus" [value]="item.code">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">โรคประจำตัว</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="member.disease">
          </div>

        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">หมายเหตุ</label>
          </div>
          <div class="col-md-7">
            <textarea style="height: 50px;" class="ng-pristine ng-valid ng-touched" placeholder="ระบุหมายเหตุ ถ้ามี" [(ngModel)]="member.reason"></textarea>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <button class="btn btn-primary text-center" (click)="clickSave();">บันทึก</button>
            <button class="btn btn-primary text-center" data-dismiss="modal">ยกเลิก</button>
          </div>
        </div>

      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>