<div id="modalMember" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-xl modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">ข้อมูลสมาชิก</h4>
      </div>

      <div class="panel-body">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">หมายเลขประจำตัว</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateVerify" [citizenId]="true">
                  <input type="text" [CitizenId]="member.citizenId" [(ngModel)]="member.citizenId">
                  <label class="error">กรุณาใส่หมายเลขประชาชนเป็นตัวเลข 13 หลัก</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">เพศ</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-gender" id="dropdown-gender" [(ngModel)]="member.genderId" #gender (change)="onChangeGender(gender)" [disabled]="isDisablePersonData">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listGender" [value]="item.id">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือก</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">คำนำหน้าชื่อ</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-prefix" id="dropdown-prefix" [(ngModel)]="member.prefixCode" #prefix (change)="onChangePrefix(prefix)" [disabled]="isDisablePersonData">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listPrefix" [value]="item.code">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือก</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">ชื่อ</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <input maxlength="50" [(ngModel)]="member.firstName" [disabled]="isDisablePersonData">
                  <label class="error">กรุณาใส ชื่อ</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">นามสกุล</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <input type="text" maxlength="50" [(ngModel)]="member.lastName" [disabled]="isDisablePersonData">
                  <label class="error">กรุณาใสนามสกุล</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">วัน/เดือน/ปี เกิด</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <my-date-picker name="birthDate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeBirthDate($event)"
                    [disabled]="isDisablePersonData"></my-date-picker>
                  <label class="error">กรุณาเลือกวัน/เดือน/ปี เกิด</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">การศึกษา</label>
              </div>
              <div class="col-md-3">
                <select name="dropdown-education" id="dropdown-education" [(ngModel)]="member.educationCode" [disabled]="isDisablePersonData">
                  <option value="">--เลือก--</option>
                  <option *ngFor="let item of listEducation" [value]="item.code">{{item.name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">อาชีพ</label>
              </div>
              <div class="col-md-3">
                <select name="dropdown-occupationCode" id="dropdown-occupationCode" [(ngModel)]="member.occupationCode" [disabled]="isDisablePersonData">
                  <option value="">--เลือก--</option>
                  <option *ngFor="let item of listOccupation" [value]="item.code">{{item.name}}</option>
                </select>
              </div>

              <div class="col-md-2 text-right">
                <label class="label-form">โรคประจำตัว</label>
              </div>
              <div class="col-md-3">
                <input type="text" [(ngModel)]="member.congenitalDisease">
              </div>

            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">ความสัมพันธ์</label>
              </div>
              <div class="col-md-3">
                <div [InputValidate]="validateSave">
                  <select name="dropdown-familyStatus" id="dropdown-familyStatus" [(ngModel)]="member.familyStatusId" #familyStatus (change)="onChangeFamilyStatus(familyStatus)" [disabled]="isDisablePersonData">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listFamilyStatus" [value]="item.id">{{item.name}}</option>
                  </select>
                  <label class="error">กรุณาเลือกความสัมพันธ์</label>
                </div>
              </div>
              <div class="col-md-2 text-right">
                <label class="label-form">สถานะการจำหน่าย</label>
              </div>
              <div class="col-md-3">
                <select name="dropdown-discharge" id="dropdown-discharge" [(ngModel)]="member.dischargeId">
                  <option *ngFor="let item of listDischarge" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
              

            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">หมายเหตุ</label>
              </div>
              <div class="col-md-3">
                <textarea style="height: 50px;" placeholder="หมายเหตุ" [(ngModel)]="member.remark"></textarea>
              </div>
              <div *ngIf="member.dischargeId != '9'">
                <div class="col-md-2 text-right">
                  <label class="label-form">วันที่จำหน่าย</label>
                </div>
                <div class="col-md-3">
                  <div [InputValidate]="validateSave">
                    <my-date-picker name="birthDate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeBirthDate($event)"
                      [disabled]="isDisablePersonData"></my-date-picker>
                    <label class="error">กรุณาเลือกวันที่จำหน่าย</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">สถานะอยู่</label>
              </div>
              <div class="col-md-1">
                <div class="radio">
                  <label class="label-form" style="font-size: 1em">
                    <input type="radio" name="existsType" id="existsType1" [value]="true" [(ngModel)]="member.isExists">
                    <span class="cr">
                      <i class="cr-icon fa fa-check"></i>
                    </span>
                    อยู่จริง
                  </label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label class="label-form" style="font-size: 1em">
                    <input type="radio" name="existsType" id="existsType2" [value]="false" [(ngModel)]="member.isExists">
                    <span class="cr">
                      <i class="cr-icon fa fa-check"></i>
                    </span>
                    ไม่อยู่จริง
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2 text-right">
                <label class="label-form">ประเภทการอยู่อาศัย</label>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="radio">
                      <label class="label-form" style="font-size: 1em">
                        <input type="radio" name="guestType" id="guest1" [value]="false" [(ngModel)]="member.isGuest" (change)="onIsGuest()">
                        <span class="cr">
                          <i class="cr-icon fa fa-check"></i>
                        </span>
                        มีชื่อในสำเนาทะเบียนบ้านจริง
                      </label>
                    </div>
                    <div class="radio">
                      <label class="label-form" style="font-size: 1em">
                        <input type="radio" name="guestType" id="guest2" [value]="true" [(ngModel)]="member.isGuest" (change)="onIsGuest()">
                        <span class="cr">
                          <i class="cr-icon fa fa-check"></i>
                        </span>
                        ไม่มีชื่อในสำเนาทะเบียนบ้าน แต่ตัวอยู่จริง
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="member.isGuest">
              
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right">
                  <label class="label-form">บ้านเลขที่</label>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="member.homeNo">
                </div>
                <div class="col-md-2 text-right">
                  <label class="label-form">หมู่ที่</label>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="member.mooNo">
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right">
                  <label class="label-form">ถนน</label>
                </div>
                <div class="col-md-3">
                  <input type="text" [(ngModel)]="member.road">
                </div>
                <div class="col-md-2 text-right">
                  <label class="label-form">จังหวัด</label>
                </div>
                <div class="col-md-3">
                  <select [(ngModel)]="member.provinceCode" (change)="onChangeProvince()">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listProvince" [ngValue]="item.codeId">{{ item.name }}</option>
                  </select>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right">
                  <label class="label-form">อำเภอ</label>
                </div>
                <div class="col-md-3">
                  <select  [(ngModel)]="member.amphurCode" (change)="onChangeDistrict()" [disabled]="member.provinceCode == '' ? true : false">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listDistrict" [value]="item.code">{{ item.name }}</option>
                  </select>
                </div>
                <div class="col-md-2 text-right">
                  <label class="label-form">ตำบล</label>
                </div>
                <div class="col-md-3">
                  <select [(ngModel)]="member.tumbolCode" (change)="onChangeSubDistrict()" [disabled]="member.amphurCode == '' ? true : false">
                    <option value="">--เลือก--</option>
                    <option *ngFor="let item of listSubDistrict" [value]="item.codeId">{{ item.name }}</option>
                  </select>
                </div>
              </div>
      
        
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" (click)="onClickSave();" [disabled]="isDisabledButtonSave">บันทึก</button>
          <button class="btn btn-primary btn-sm" data-dismiss="modal">ยกเลิก</button>
        </div>

      </div>
    </div>
  </div>
  <ass-loading [show]="loading"></ass-loading>