<div class="panel panel-default">

  <div style="background-color: rgba(118, 128, 218, 0.25);" class="panel-heading">
    <label>รายละเอียดแบบสำรวจข้อมูลบุคคล</label>
  </div>

  <div class="panel-body">

<div class="row">
  <div class="box-body">
    <dl class="dl-horizontal">
      <dt>รอบสำรวจ : </dt>
      <dd>xxxxxx</dd>
      <dt>ที่อยู่ : </dt>
      <dd>xxxxxx</dd>
      <dt>อสม. : </dt>
      <dd>xxxxxx</dd>
    </dl>
  </div>
</div>

    <div class="row">
      <div class="col-sm-12 text-left">
        <button class="btn btn-primary" (click)="onClickAdd();">เพิ่มสมาชิก</button>
        <button class="btn btn-primary">พิมพ์เอกสาร</button>
      </div>
    </div>

    <br>
    <div class="filter-discription">ส่วนที่ 1 มีชื่อในสำเนาทะเบียนบ้านจริง</div>
    <div class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <!-- <table id="tableMember" class="table table-striped table-bordered"></table> -->
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>

    <br>
    <div class="filter-discription">ส่วนที่ 2 ไม่มีชื่อในทะเบียนบ้าน แต่ตัวอยู่จริง</div>
    <div class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <!-- <table id="tableMember" class="table table-striped table-bordered"></table> -->
        <ng2-smart-table [settings]="settings2" [source]="source2" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="onClickSave();" *ngIf="isShowTable">ส่งข้อมูล</button>
        <button class="btn btn-primary" (click)="onClickBack();">ย้อนกลับ</button>
      </div>
    </div>

  </div>

</div>

<app-survey-personal-member-form [action]="action" [triggerMember]="paramMember" (memberUpdated)="onUpdatedMember($event)"></app-survey-personal-member-form>