<div class="panel panel-default">

  <div class="panel-heading">
    <label><a (click)="onClickBackNavigate();">แบบสำรวจข้อมูลบุคคล</a></label> <i class="fa fa-caret-right"></i> <label>รายละเอียดสมาชิก (บ้านเลขที่ {{homeInfo.homeNo}})</label>
  </div>

  <div class="panel-body">

    <div class="panel panel-default" *ngIf="isShowInfo">
      <div class="panel-body">

        <div class="row">
          <div class="col-sm-12">
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>รอบสำรวจ : </dt>
                <dd>{{ roundName }}</dd>
                <dt>ที่อยู่ : </dt>
                <dd>{{ homeAddress }}</dd>
                <dt>เบอร์โทรศัพท์ : </dt>
                <dd>{{ homeTel }}</dd>
                <dt>อสม. : </dt>
                <dd>{{ osmFullName }}</dd>
              </dl>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-left">
        <button class="btn btn-primary btn-sm" (click)="onClickAdd();">เพิ่มสมาชิก</button>
        &nbsp; &nbsp;
        <button *ngIf="showBtnViewInfo" (click)="onViewInfo()" class="btn btn-primary btn-sm">ดูข้อมูลทั้งหมด</button>
      </div>
    </div>

    <br>

    <div class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <div class="filter-discription">ส่วนที่ 1 มีชื่อในสำเนาทะเบียนบ้านจริง</div>
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>

    <br>

    <div class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <div class="filter-discription">ส่วนที่ 2 ไม่มีชื่อในทะเบียนบ้าน แต่ตัวอยู่จริง</div>
        <ng2-smart-table [settings]="settings2" [source]="source2" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-confirm btn-sm" (click)="onClickSave();" *ngIf="isShowTable">ส่งข้อมูล</button>
        &nbsp; &nbsp;
        <button class="btn btn-cancel btn-sm" id="btnBack" (click)="onClickBack();">ยกเลิก</button>
      </div>
    </div>

  </div>

</div>

<app-survey-personal-member-form [action]="action" [memberBean]="cloneMember" (memberUpdated)="onUpdatedMember($event)"></app-survey-personal-member-form>
<app-management-home-member-form [bean]="memberBean" [action]="action"  [isSurvey]="true" [address]="address" (success)="onSaveCompleted($event)"></app-management-home-member-form>

<ass-loading [show]="loading"></ass-loading>
