<div class="panel panel-default">

  <div style="background-color: rgba(118, 128, 218, 0.25);" class="panel-heading">
    <!-- <h4 style="color: #000000;">แบบสำรวจข้อมูลผู้เสียชีวิต</h4> -->
    <label>รายละเอียดแบบสำรวจข้อมูลบุคคล</label>
  </div>

  <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>หมู่</th>
        <th>บ้านเลขที่</th>
        <th>ชื่อ-สกุล สมาชิก</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.moo }}</td>
        <td>{{ item.home_id }}</td>
        <td>{{ item.name }}</td>
        <td>
          <button style="padding-top: 0px; padding-bottom: 0px" data-target="#myModal" class="btn btn-primary" (click)="clickManage(item.member);">จัดการ</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="panel-body">

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">ประเภท</label>
      </div>
      <div class="col-md-4">
        <select name="dropdown-type" id="dropdown-type" [(ngModel)]="mTypeNo">
        <option value="0">--เลือกประเภท--</option>
        <option value="1">มีชื่อในทะเบียนบ้านจริง</option>
        <option value="2">ไม่มีชื่อในทะเบียนบ้าน</option>
      </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">หมายเลขประจำตัว</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="หมายเลขประจำตัว 13 หลัก" [disabled]="true" value="{{citizenID}}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">ชื่อจริง</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="ชื่อจริง" value="{{pFname}}">
      </div>
      <div class="col-md-1 text-right">
        <label class="label-form">นามสกุล</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="นามสกุล" value="{{pLname}}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">วันเดือนปี เกิด</label>
      </div>
      <div class="col-md-3">
        <input type="text" [disabled]="true" placeholder="วว/ดด/ปป" value="{{birthDate}}">
      </div>

      <div class="col-md-1 text-right">
        <label class="label-form">การศึกษา</label>
      </div>
      <div class="col-md-3">
        <select name="dropdown-study" id="dropdown-study" [(ngModel)]="mStudyNo">
            <option value="0">--เลือกระดับการศึกษา--</option>
            <option value="1">ประถมศึกษาตอนต้น</option>
            <option value="2">ประถมศึกษาตอนปลาย</option>
            <option value="3">มัธยมศึกษาตอนต้น</option>
            <option value="4">มัธยมศึกษาตอนปลาย</option>
            <option value="5">ปริญญาตรี</option>
            <option value="6">ปริญญาโท</option>
            <option value="7">ปริญญาเอก</option>
            <option value="8">ดาวนาเม็ก</option>
          </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">อาชีพ</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="อาชีพ" value="{{pJob}}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">สถานะอยู่</label>
      </div>
      <div class="col-md-3">
        <select name="dropdown-livetype" id="dropdown-livetype" [(ngModel)]="mLiveType">
            <option value="0">--เลือกสถานะ--</option>
            <option value="1">อยู่จริง</option>
            <option value="2">มีชื่อ แต่ไม่ได้อยู่</option>
          </select>
      </div>

      <div class="col-md-1 text-right">
        <label class="label-form">สถานะ</label>
      </div>
      <div class="col-md-3">
        <select name="dropdown-ownertype" id="dropdown-ownertype" [(ngModel)]="mOwnerNo">
          <option value="0">--เลือกสถานะ--</option>
          <option value="1">เจ้าบ้าน</option>
          <option value="2">ผู้อาศัย</option>
      </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">โรคประจำตัว</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="ชื่อจริง" value="{{pDisease}}">
      </div>

    </div>

    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">หมายเหตุ</label>
      </div>
      <div class="col-md-3">
        <textarea class="ng-pristine ng-valid ng-touched" placeholder="ระบุหมายเหตุ ถ้ามี"></textarea>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <button class="btn btn-primary text-center" (click)="clickSave();">บันทึก</button>
        <button class="btn btn-primary text-center">ยกเลิก</button>
      </div>
    </div>

  </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-lg modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ข้อมูลสมาชิก</h4>
      </div>

      <!-- <app-personal-survey [cid]="cid"></app-personal-survey> -->

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>