  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{bean.homeId?'แก้ไข':'เพิ่ม'}}บ้าน</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">รหัสบ้าน</label>
            </div>
            <div class="col-md-5">
              <div [InputValidate]="inputValidate" [fixLength]="11">
                  <input type="text" [(ngModel)]="bean.registrationId" [OnlyNumber]="true" maxlength="11">
                  <label class="error">กรุณาใส่รหัสบ้านให้ถูกต้อง</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">บ้านเลขที่</label>
            </div>
            <div class="col-md-5">
              <div [InputValidate]="inputValidate">
                <input type="text" [(ngModel)]="bean.homeNo">
                <label class="error">กรุณาใส่บ้านเลขที่</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ถนน</label>
            </div>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="bean.road">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ตรอก/ซอย</label>
            </div>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="bean.soi">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">เบอร์โทรศัพท์</label>
            </div>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="bean.telephone" [OnlyNumber]="true">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">Latitude</label>
            </div>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="bean.latitude">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">Longitude</label>
            </div>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="bean.longitude">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary" (click)="onSave()">ตกลง</button>
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>
