  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{bean.villageId?'แก้ไข':'เพิ่ม'}}หมู่บ้าน</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">หมู่ที่</label>
            </div>
            <div class="col-md-4">
              <div [InputValidate]="inputValidate" (notify)="validation($event)">
                  <input type="text" [(ngModel)]="bean.villageNo" OnlyNumber="true">
                  <label class="error">กรุณาใส่หมู่ที่</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ชื่อหมู่บ้าน</label>
            </div>
            <div class="col-md-6">
              <div [InputValidate]="inputValidate" (notify)="validation($event)">
                <input type="text" [(ngModel)]="bean.villageName">
                <label class="error">กรุณาใส่ชื่อหมู่บ้าน</label>
              </div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary" (click)="onSave()">ตกลง</button>
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>
  <ass-loading [show]="loading" [config]="loadingConfig()"></ass-loading>
