<div class="row">
    <div class="col-md-2 text-right">
      <label>ประเภท</label>
    </div>
    <div class="col-md-4">
      <select name="dropdown-type" id="dropdown-type" [(ngModel)]="mTypeNo">
        <option value="0">--เลือกประเภท--</option>
        <option value="1">มีชื่อในทะเบียนบ้านจริง</option>
        <option value="2">ไม่มีชื่อในทะเบียนบ้าน</option>
      </select>
    </div>
  </div>
  

  <div class="row">
      <div class="col-md-2 text-right">
        <label>หมายเลขประจำตัว</label>
      </div>
      <div class="col-md-3">
          <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="หมายเลขประจำตัว 13 หลัก">
      </div>
    </div>

  <div class="row">
      <div class="col-md-2 text-right">
        <label>ชื่อจริง</label>
      </div>
      <div class="col-md-3">
          <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="ชื่อจริง">
      </div>
      <div class="col-md-1 text-right">
        <label>นามสกุล</label>
      </div>
      <div class="col-md-3">
          <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="นามสกุล">
      </div>
    </div>