<div class="row">
    <div class="col-md-2 text-right">
      <label>หมู่ที่</label>
    </div>
    <div class="col-md-4">
      <select name="find-dropdownVillageNo" id="find-dropdownVillageNo" [(ngModel)]="mVillageNo" (change)="changVillageNo()">
        <option value="0">--เลือกหมู่บ้าน--</option>
        <option value="1">หมู่ที่ 1 บ้านคำไฮ</option>
        <option value="2">หมู่ที่ 2 บ้านศรีฐาน</option>
      </select>
    </div>
    <div class="col-md-1 text-right">
      <label>อสม.</label>
    </div>
    <div class="col-md-4">
        <select name="find-osmName" id="find-osmName">
            <option>--เลือก อสม.--</option>
       </select>
    </div>
  </div>


