<div class="panel panel-default">
  <div class="panel-heading">
    <span>ข้อมูลแบบสำรวจหญิงตั้งครรภ์ และหลังคลอด</span>
  </div>

  <div class="panel-body">
    <div class="row">
      <app-filter-head-survey [surveyTypeCode]="surveyTypeCode" (notifyFilter)="onClickSearch($event)" (changeFilter)="onChangeFilter($event)"></app-filter-head-survey>
    </div>
    <div class="row">
      <div class="col-sm-12 text-left">
        <button class="btn btn-sm btn-primary" (click)="onModalForm(ass_action.ADD);">เพิ่มการสำรวจ</button>
      </div>
    </div>

    <div class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>

<app-survey-pregnant-form [action]="action" [surveyTypeCode]="surveyTypeCode" [documentId]="filter_documentId" [data]="pregnantBean" (memberUpdated)="onUpdatedMember($event);"></app-survey-pregnant-form>
<ass-loading [show]="loading"></ass-loading>