<div class="panel panel-default">
  <div class="panel-heading">
    <span>ข้อมูลแบบสำรวจหญิงตั้งครรภ์ และหลังคลอด</span>
  </div>

  <div class="panel-body">
    <div class="row">
      <app-filter-head-survey [surveyTypeCode]="surveyTypeCode" (notifyFilter)="onClickSearch($event)" (changeFilter)="onChangeFilter($event)"></app-filter-head-survey>
    </div>
    <div class="row">
      <div class="col-sm-12 text-left">
        <button class="btn btn-sm btn-primary" (click)="onModalForm(ass_action.ADD);">เพิ่มการสำรวจ</button>
      </div>
    </div>

    <div class="row" *ngIf="isShowTable">
      <div class="col-md-12">
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>

<app-survey-pregnant-form [action]="action" [surveyTypeCode]="surveyTypeCode" [documentId]="current_documentId" [data]="param_pregnantBean"
  [rowGUID]="param_rowGUID" (memberUpdated)="onUpdatedMember($event);"></app-survey-pregnant-form>
<ass-loading [show]="loading"></ass-loading>

<div id="modalMaps" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
  <div class="modal-xl modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">แผนที่</h4>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-maps [latitude]="param_latitude" [longitude]="param_longitude" [info]="param_info" [mode]="'view'" [defaultAddress]="userInfo.address"></app-maps>
        </div>
      </div>

      <div class="modal-footer">
        <div class="panel-body text-right">
          <button class="btn btn-primary btn-sm" data-dismiss="modal">กลับ</button>
        </div>
      </div>

    </div>
  </div>
</div>