<div class="row" *ngIf="isShowFind">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">{{getLabel('lbl_villageNo')}}</label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="filterBean.villageId" (change)="changVillageNo()">
          <option ngValue="">--เลือก หมู่ที่--</option>
          <option *ngFor="let item of villageData" [value]="item.id">{{item.villageNo+' : '+item.villageName}}</option>
        </select>
      </div>
      <div class="col-md-1 text-right">
        <label class="label-form">{{getLabel('lbl_osm')}}</label>
      </div>
      <div class="col-md-4">
        <select name="find-osmName" id="find-osmName" [(ngModel)]="filterBean.osmId" (change)="changeOSM()" [disabled]="isDisabledOSM">
          <option ngValue="">--เลือก อสม.--</option>
          <option *ngFor="let item of osmData" [value]="item.personId">{{item.fullName}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">{{getLabel('lbl_homeNo')}}</label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="filterBean.homeId" (change)="changHomeNo()" [disabled]="isDisabledHomeNo">
          <option ngValue="">--เลือก บ้านเลขที่--</option>
          <option *ngFor="let item of homeData" [value]="item.homeId">{{item.homeNo}}</option>

        </select>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <button (click)="doSearchPerson()" data-target="#modal-person-member-list" data-toggle="modal" type="buttoon" class="btn btn-primary btn-sm"
          [disabled]="!filterBean.homeId">ค้นหารายชื่อสมาชิก</button>
      </div>
    </div>


    <div class="row" id="layout-list-person" *ngIf="isShowPersons">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="60">ลำดับ</th>
              <th>ชื่อ - สกุล</th>
              <th width="180">เลขประจำตัวประชาชน</th>
              <th width="60">อายุ</th>
              <th width="80">สถานะ</th>
              <th width="60">เลือก</th>
            </tr>
          </thead>
          <tbody>
            <!-- <ng-container *ngFor="let item of surveyStatusTypeList"> -->
              <tr *ngFor="let item of personData; let idx = index">
                <td>{{idx+1}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.citizenId}}</td>
                <td>{{item.age}}</td>
                <td>{{item.familyStatusName}}</td>
                <td>
                  <button type="button" (click)="onChoosePerson(item)" class="btn btn-sm btn-primary">เลือก</button>
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary">ยกเลิก</button>
    </div>
  </div>
</div>