<div id="find-history-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
        <div class="modal-lg modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ประวัติการสำรวจ</h4>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                       <label>sssssssssssssssss{{viewBean.rowGUID}}</label>
                    </div>
                </div>
    
                <div class="modal-footer">
                    <div class="panel-body text-right">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">กลับ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<ass-loading [show]="loading"></ass-loading>
