<div id="find-history-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ประวัติการสำรวจ</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="panel panel-default" style="margin-bottom: inherit;">
                            <div class="panel-body">
                                <div class="box-body">
                                    <dl class="dl-horizontal">
                                        <dt>หมายเลขประจำตัว : </dt>
                                        <dd>{{ patientbean.citizenId }}</dd>
                                        <dt>ชื่อ-สกุล : </dt>
                                        <dd>{{ patientbean.fullName }}</dd>
                                        <dt>เพศ : </dt>
                                        <dd>{{ patientbean.genderName }}</dd>
                                        <dt>อายุ : </dt>
                                        <dd>{{ patientbean.age }}</dd>
                                        <dt>ที่อยู่ : </dt>
                                        <dd>{{ patientbean.address }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right">
                        <label class="label-form">ประเภท</label>
                    </div>
                    <div class="col-md-4">
                        <!-- <select [(ngModel)]="patientbean.patientSurveyTypeCode" (change)="onChangePatientSyurvey();">
                            <option value="">--เลือกประเภท--</option>
                            <ng-container *ngFor="let item of surveyStatusTypeList">
                                <option value="{{item.code}}" *ngIf="item.code !='Cancer'">{{item.name}}</option>
                            </ng-container>
                        </select> -->
                        <label class="label-form">{{patientbean.patientSurveyTypeName}}</label>
                    </div>
                </div>

                <div *ngIf="patientbean.patientSurveyTypeCode == 'Patient'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">ระบุโรค/อาการ</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.remark" maxlength="255" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">ประเภทผู้ป่วย</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.patientSurveyTypeName" maxlength="255" disabled>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">สิทธิบัตร</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.hInsuranceTypeName" maxlength="255" disabled>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 0px">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">วันที่ป่วย</label>
                                </div>
                                <div class="col-md-8">
                                    <my-date-picker [options]="datePickerOptions" [(ngModel)]="patientbean.patientDate" required disabled></my-date-picker>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">สถานที่รักษา</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.treatmentPlace" maxlength="255" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">สถานะการรักษา</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean. diseaseStatusTypeName" maxlength="255" disabled>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">เบอร์โทรศัพท์</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.telephone" maxlength="50" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">Latitude</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.latitude" placeholder="Latitude" maxlength="50" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <label class="label-form">Longitude</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [(ngModel)]="patientbean.longitude" placeholder="Longitude" maxlength="50" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <app-maps [latitude]="patientbean.latitude" [longitude]="patientbean.longitude" [info]="info" [mode]="'edit'" [defaultAddress]="userInfo.address"
                                (positionChanged)="onMapChange($event)"></app-maps>
                        </div>
                    </div>
                </div>

                <div *ngIf="patientbean.patientSurveyTypeCode == 'Disabled'">
                    Disabled
                </div>

            </div>

            <div class="modal-footer">
                <div class="panel-body text-right">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">กลับ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ass-loading [show]="loading"></ass-loading>