.main-sidebar{
    /* background-color: #42c8fb;   */
    background-color: #4AA3DF;
    width: 270px;
}
.sidebar-menu li a:hover{
    background-color: inherit;
}
.sidebar-menu > li:hover{
    background-color: #71AFD8;
}
.sidebar-menu > li > ul > li:hover{
    background-color: #E0E0E0;
}
.sidebar-menu > li > ul{
    padding-left: 0;
}
.sidebar-menu > li.active{
    background-color: #71AFD8;
}
.sidebar-menu li.active > a {
    background-color: #71AFD8;
    color: #0069ad;
}
.sidebar-menu li.treeview ul.treeview-menu >li > a > span {
    display: block;
    width: 220px;
    word-break: break-all;
}
.sidebar-menu > li > a > span{
    color: #ffffff;
}
.sidebar-menu li.active > a > span , .sidebar-menu li.active > a > i {
    color: #ffffff;
}

.sidebar-menu > li > .treeview-menu{
    background-color: #ffffff;
}
.sidebar-menu > li > .treeview-menu span{
    color: #0069ad;
}
.user-panel > .image > img.img-user-info{
    width: 80px;
    height: 80px;
    max-width: 80px;
    margin-top: 15px;
}
.user-panel{
    /* background-color: #9EBACC */
    background-color: #e4e7e8; 
}