.user-panel > .image > img.img-user-info{
    width: 80px;
    height: 80px;
    max-width: 80px;
    margin-top: 15px;
}
.user-panel{
    background-color: #e4e7e8; 
}

.main-sidebar{
    background-color: #4AA3DF !important;
    width: 270px;
}
.sidebar-menu > li > ul{
    padding-left: 0;
}
.sidebar-menu > li > a{
    border-left: none;
}
.sidebar-menu > li > ul.treeview-menu{
    background-color: #FFFFFF;
} .sidebar-menu > li > ul.treeview-menu a{
    color: #0069ad;
} .sidebar-menu > li > ul.treeview-menu a:hover{
    background-color: #f1f1f1;
}
.sidebar-menu li.treeview  > a{
    color: #FFFFFF;
}
.sidebar-menu li.treeview > a:hover{
    background-color: #71AFD8 !important;
}
.sidebar-menu li.treeview.active > a {
    background-color: #71AFD8 !important;
}
.sidebar-menu > li:hover > a{
    background-color: #71AFD8 !important;
}

.sidebar-menu li.manage-menu-let{
    background-color: #f39c12 !important;
    border-bottom: 5px solid #f39c12;
}
.sidebar-menu li.manage-menu-let.active > a{
    background-color: #f39c12 !important;
}
.sidebar-menu li.manage-menu-let > a:hover{
    background-color: #f39c12 !important;
}