<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" >
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">


			<div class="image" style="text-align: center">
				<img src="../../assets/img/AiMee_20180201151023.gif" class="img-circle img-user-info">
			</div>
			<div style="text-align: center; margin-top: 6px;">
				<label>{{userInfo.fullName}}</label>
			</div>
			<div style="text-align: center">
				<label>เจ้าหน้าที่ {{userInfo.roleAcronym}}</label>
			</div>
			<div style="text-align: center">
				<a (click)="onManageProfile()" style="color: #0069ad; font-weight: bold"><i class="fa fa-edit"></i> จัดการข้อมูลส่วนตัว</a>
			</div>
			<!-- <div style="text-align: center">
					<label>{{userInfo.hospitalName}}</label>
			</div> -->
			<!-- <div class="pull-left info">
				<p>{{currentUser?.getName()}}</p>
				
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div> -->
		</div>
		<!-- search form (Optional) -->
		<!-- <form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..."> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form> -->
		<!-- /.search form -->
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<!-- Staff Menu -->
			<li *ngIf="userInfo.roleId=='2' || userInfo.roleId=='3'" class="treeview manage-menu-let">
					<a href="#">
						<i *ngIf="staffMenus.icon" class="{{staffMenus.icon}}"></i>
						<span>{{staffMenus.title}}</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<ng-container *ngFor="let subitem of staffMenus.sublinks">
							<li [class.active]="subitem.link[0] === currentUrl">
								<a *ngIf="!subitem.external" [routerLink]="subitem.link">
									<i *ngIf="subitem.icon" class="{{subitem.icon}}"></i>
									<span>{{subitem.title}}</span>
								</a>
								<a *ngIf="subitem.external" [href]="subitem.link" [target]="subitem.target">
									<i *ngIf="subitem.icon" class="{{subitem.icon}}"></i>
									<span>{{subitem.title}}</span>
								</a>
							</li>
						</ng-container>
					</ul>
				</li>
				
				<!-- OSM Menu -->
				<li *ngIf="userInfo.roleId=='5'" class="treeview manage-menu-let">
					<a href="#">
						<i *ngIf="osmMenus.icon" class="{{osmMenus.icon}}"></i>
						<span>{{osmMenus.title}}</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<ng-container *ngFor="let subitem of osmMenus.sublinks">
							<li [class.active]="subitem.link[0] === currentUrl">
								<a *ngIf="!subitem.external" [routerLink]="subitem.link">
									<i *ngIf="subitem.icon" class="{{subitem.icon}}"></i>
									<span>{{subitem.title}}</span>
								</a>
								<a *ngIf="subitem.external" [href]="subitem.link" [target]="subitem.target">
									<i *ngIf="subitem.icon" class="{{subitem.icon}}"></i>
									<span>{{subitem.title}}</span>
								</a>
							</li>
						</ng-container>
					</ul>
				</li>

			<ng-container *ngFor="let item of surveyMenus; let idx = index">

				<ng-container *ngIf="!item.sublinks">
					<li [class.active]="item.link[0] === currentUrl">
						<a *ngIf="!item.external" [routerLink]="item.link">
							<i class="{{item.icon}}"></i>
							<span>{{item.title}}</span>
						</a>
						<a *ngIf="item.external" [href]="item.link" [target]="item.target">
							<i class="{{item.icon}}"></i>
							<span>{{item.title}}</span>
						</a>
					</li>
				</ng-container>

				<ng-container *ngIf="item.sublinks">
					<li class="treeview">
						<a href="#">
							<i *ngIf="item.icon" class="{{item.icon}}"></i>
							<span>{{item.title}}</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<ng-container *ngFor="let subitem of item.sublinks">
								<li [class.active]="subitem.link[0] === currentUrl">
									<a *ngIf="!subitem.external" [routerLink]="subitem.link">
										<i *ngIf="subitem.icon" class="{{subitem.icon}}"></i>
										<span>{{subitem.title}}</span>
									</a>
									<a *ngIf="subitem.external" [href]="subitem.link" [target]="subitem.target">
										<i *ngIf="subitem.icon" class="{{subitem.icon}}"></i>
										<span>{{subitem.title}}</span>
									</a>
								</li>
							</ng-container>
						</ul>
					</li>
					</ng-container>
				</ng-container>
			</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
