<div id="modalMember" class="modal fade" role="dialog">
  <div class="modal-xl modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ข้อมูลสมาชิก</h4>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">ประเภทการเข้าอยู่อาศัย</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-typeArea" id="dropdown-typeArea" [(ngModel)]="person.typeAreaCode">
              <option value="0">--เลือกประเภท--</option>
              <option value="1">มีชื่อในทะเบียนบ้านจริง</option>
              <option value="2">ไม่มีชื่อในทะเบียนบ้าน</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">หมายเลขประจำตัว</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" placeholder="หมายเลขประจำตัว 13 หลัก" [disabled]="true" [(ngModel)]="person.citizenID">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">ชื่อจริง</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="person.firstName">
          </div>
          <div class="col-md-1 text-right">
            <label class="label-form">นามสกุล</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="person.lastName">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">เพศ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-gender" id="dropdown-gender" [(ngModel)]="person.genderCode">
              <option value="0">--เลือกเพศ--</option>
              <option value="1">ชาย</option>
              <option value="2">หญิง</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">เชื้อชาติ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-race" id="dropdown-race" [(ngModel)]="person.raceCode">
              <option value="0">--เลือกเชื้อชาติ--</option>
              <option value="1">ไทย</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">สัญชาติ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-nation" id="dropdown-nation" [(ngModel)]="person.nationCode">
              <option value="0">--เลือกสัญชาติ--</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">ศาสนา</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-race" id="dropdown-race" [(ngModel)]="person.religionCode">
              <option value="0">--เลือกศาสนา--</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">กรุ๊ปเลือด</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-blood" id="dropdown-blood" [(ngModel)]="person.bloodType">
              <option value="0">--เลือกรุ๊ปเลือด--</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">RH Group</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-rhGroup" id="dropdown-rhGroup" [(ngModel)]="person.rhGroupID">
              <option value="0">--เลือ RH Group--</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">วันเดือนปี เกิด</label>
          </div>
          <div class="col-md-3">
            <input type="text" [disabled]="true" [(ngModel)]="person.birthDate">
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">การศึกษา</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-education" id="dropdown-education" [(ngModel)]="person.educationCode">
              <option value="0">--เลือกระดับการศึกษา--</option>
              <option value="1">ประถมศึกษาตอนต้น</option>
              <option value="2">ประถมศึกษาตอนปลาย</option>
              <option value="3">มัธยมศึกษาตอนต้น</option>
              <option value="4">มัธยมศึกษาตอนปลาย</option>
              <option value="5">ปริญญาตรี</option>
              <option value="6">ปริญญาโท</option>
              <option value="7">ปริญญาเอก</option>
              <option value="8">ดาวนาเม็ก</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">อาชีพ</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="person.occupCode">
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">สถานะอยู่</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-livetype" id="dropdown-livetype" [(ngModel)]="person.mLiveType">
              <option value="0">--เลือกสถานะ--</option>
              <option value="1">อยู่จริง</option>
              <option value="2">มีชื่อ แต่ไม่ได้อยู่</option>
            </select>
          </div>

          <div class="col-md-1 text-right">
            <label class="label-form">สถานะ</label>
          </div>
          <div class="col-md-3">
            <select name="dropdown-ownertype" id="dropdown-ownertype" [(ngModel)]="person.mOwnerNo">
              <option value="0">--เลือกสถานะ--</option>
              <option value="1">เจ้าบ้าน</option>
              <option value="2">ผู้อาศัย</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">โรคประจำตัว</label>
          </div>
          <div class="col-md-3">
            <input type="text" class="ng-pristine ng-valid ng-touched" [(ngModel)]="person.disease">
          </div>

        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 text-right">
            <label class="label-form">หมายเหตุ</label>
          </div>
          <div class="col-md-7">
            <textarea style="height: 50px;" class="ng-pristine ng-valid ng-touched" placeholder="ระบุหมายเหตุ ถ้ามี" [(ngModel)]="person.reason"></textarea>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <button class="btn btn-primary text-center" (click)="clickSave();">บันทึก</button>
            <button class="btn btn-primary text-center" data-dismiss="modal">ยกเลิก</button>
          </div>
        </div>

      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>