<div class="footer-indext"> 
    <div class="row">
        <div class="col-md-1 sitemap">
            <div><a routerLink="/about-system">เกี่ยวกับระบบ</a></div>
            <div><a routerLink="/contact-us">ติดต่อเรา</a></div>
            <div><a routerLink="/register">ลงทะเบียน</a></div>
        </div>
        <div class="col-md-11 mobile-apps">
            <img src="../../assets/img/stores/google-play-logo.png" height="80px">
            <img src="../../assets/img/stores/app_store.png" height="80px">
            <img src="../../assets/img/img-1669.png" height="80px">
        </div>  
    </div>
    

    
    <div class="row" style="padding: 0; margin: 0">
        <div class="col-md-12 copyright text-center">
            <strong>Copyright © 2016 <a _ngcontent-c5="" href="#">Company</a>.</strong> All rights reserved.
        </div>
    </div>
    
</div>