.footer-indext{
    width: 100%;
    background-color: #9b9898;
    padding: 10px;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-indext .row{
    padding: 0; margin: 0;
}
.mobile-apps{


}
.copyright{
    /* position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0; */
    color: #000;
    padding-top: 5px;

}
.copyright a{
  color: #000;
}
.sitemap a{
    color: #f5f5f5;
}
.sitemap a:hover{
    text-decoration: underline;
}
