<div class="panel panel-default">
  <div class="panel-heading">
    <span>การส่งเสริมสุขภาพ/ ข้อมูลแบบสำรวจหญิงตั้งครรภ์ และหลังคลอด</span>
  </div>

  <div class="panel-body">


  <div class="row">
            <div class="col-sm-12 text-left">
      
              <a><img src="https://www.shareicon.net/data/2016/06/30/788859_add_512x512.png"
                    alt="เพิ่มสตรีมีครรภ์" width="50"
                    height="50" style="cursor: pointer;" 
                    data-toggle="modal" data-target="#myModal">
      
                  </a>
              <a href="#"><img src="http://icons.iconarchive.com/icons/aha-soft/large-business/512/Printer-icon.png"
                     alt="พิมพ์เอกสาร" width="50"
                    height="50" style="cursor: pointer;"
                    data-toggle="modal" data-target="#myModal">
      
                  </a>
            </div>
          </div>

          <div class="row">
              <div class="col-sm-12 text-left">
              <app-filter></app-filter> 
              </div>
          </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div style="background: white" class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped  table-hover table-bordered" id="dataTables-example">
              <thead >
                <tr>
                  <th class="text-center">ลำดับ</th>        
                  <th class="text-center">ชื่อ-นามสกุล</th>
                  <th class="text-center">อายุ</th>
                  <th class="text-center">ที่อยู่</th>
                  <th class="text-center">เบอร์ติดต่อ</th>
                  <!-- <th class="text-center">รพ.</th>
                  <th class="text-center">น้ำหนัก</th>
                  <th class="text-center">ชื่อ/เพศ/เลขประจำตัวประชาชน</th> -->
                  <th class="text-center">วันกำหนดคลอด</th>
                  <th class="text-center">วันที่ลงข้อมูล</th>
                  <th class="text-center"></th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <td class="text-center">1</td>  
                    <td class="text-center">นางติ๋ม สารอด</td>  
                    <td class="text-center">28</td>
                    <td class="text-center">100 ม.3</td>
                    <td class="text-center">089-0072345</td>
                    <td class="text-center">15/12/60</td>
                    <td class="text-center" style="color:red">ยังไม่ได้สำรวจ</td>
                    <td class="text-center">
                        <img src="assets/img/check.png"
                        width="30"
                        height="30"  style="cursor: pointer;" data-toggle="modal"
                        data-target="#myModalDetail">
                  </tr>
                </tbody>


            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<div id="myModal" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-lg modal-dialog">

    <!-- Modal ADD-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">รายละเอียดผู้ตั้งครรภ์</h4>
      </div>
      <app-find-person></app-find-person>
      <div >
  
     
      <div class="modal-footer">
          <div class="row">
              <div class="col-md-12 text-center">
          <button  class="btn btn-primary">ยืนยัน</button>
          <button  class="btn btn-primary">รีเซ็ท</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- Modal Survey-->
<div id="myModalDetail" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-lg modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">การสำรวจผู้ป่วยมะเร็ง</h4>
        </div>
     
        <div >
            <div class="row">
        
              <div class="col-md-3 text-right">
                  <label>ชื่อ-สกุล</label>
              </div>
              <div class="col-md-3">
                  <input type="text"  value="นางติ๋ม สารอด" readonly="readonly">
              </div>
              <div class="col-md-1 text-right">
                <label>โทรศัพท์</label>
              </div>
              <div class="col-md-3">
                <input type="text"  value="094-647-6484" readonly="readonly">
              </div>
            </div>

            

           
        
            <div class="row">
                <div class="col-md-3 text-right">
                    <label>สถานะการสำรวจ</label>
                </div>
                <div class="col-md-3">
                    <select name="find-dropdownStatusNo" id="find-dropdownStatusNo" [(ngModel)]="mStatusNo" (change)="changStatusNo()">
                      <option value="0">ยังไม่คลอด</option>
                      <option value="1" >คลอดแล้ว</option>
                    </select>
                  </div>
                  <div class="col-md-1 text-right">
                      <label>วันสำรวจ</label>
                  </div>
                  <div class="col-md-3">
                      <div class="input-group date" data-provide="datepicker">
                          <input type="text" >
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                          </div>
                        </div>
                  </div>


              </div>

              <div class="row">
                  <div class="col-md-3 text-right">
                      <label  [hidden]="isDisable">ครรภ์ที่</label>
                  </div>
                  <div class="col-md-3">
                      <select  [hidden]="isDisable">
                        <option value="0">==กรุณาเลือก==</option>
                        <option value="1">1</option>
                        <option value="2" >2</option>
                      </select>
                    </div>
                    <div class="col-md-1 text-right">
                        <label  [hidden]="isDisable">วันคลอด</label>
                    </div>
                    <div  [hidden]="isDisable" class="col-md-3">
                        <div class="input-group date" data-provide="datepicker" >
                            <input type="text" [disabled]="isDisable">
                            <div class="input-group-addon">
                              <span class="glyphicon glyphicon-th"></span>
                            </div>
                          </div>
                    </div>
  
  
                </div>

                <div class="row">
                    <div class="col-md-3 text-right">
                        <label  [hidden]="isDisable">โรงพยาบาลที่คลอด</label>
                    </div>
                    <div class="col-md-3">
                          <input type="text" name="" id=""  [hidden]="isDisable">
                      </div>
                      <div class="col-md-1 text-right">
                          <label  [hidden]="isDisable">วิธีคลอด</label>
                      </div>
                      <div class="col-md-3">
                          <select  [hidden]="isDisable">
                          <option value="0">คลอดเอง</option>
                          <option value="1">ผ่าคลอด</option>
                          <option value="2" >เครื่องดูด</option>
                          </select>
                      </div>
    
    
                  </div>

                  <div class="row">
                      
                            <div class="col-md-3 text-right">
                                <label  [hidden]="isDisable">ชื่อ-สกุล</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" placeholder="ชื่อจริง"  [hidden]="isDisable">
                            </div>
                            <!-- <div class="col-md-1">
                            
                            </div> -->
                            <div class="col-md-3">
                                <input type="text" placeholder="นามสกุล" [hidden]="isDisable">
                            </div>
                   </div>
                   <div class="row">
                      
                            <div class="col-md-3 text-right">
                                <label  [hidden]="isDisable">เพศ</label>
                            </div>
                            <div class="col-md-2">
                                <select  [hidden]="isDisable">
                                    <option value="0">-เลือกเพศ-</option>
                                    <option value="1">ชาย</option>
                                    <option value="2" >หญิง</option>
                                    </select>
                            </div>
                             <div class="col-md-2 text-center ">
                                <label  [hidden]="isDisable" >กรุ๊ปเลือด</label>
                                <select style="width: 50%"  [hidden]="isDisable" >
                                    <option value="0">-</option>
                                    <option value="1">A</option>
                                    <option value="2" >B</option>
                                    <option value="2" >AB</option>
                                    <option value="2" >O</option>
                                    </select>
                            </div> 
                            <div class="col-md-2 text-center ">
                                <label  [hidden]="isDisable" >น้ำหนัก</label>
                                        <input style="width: 50%" type="text" name="" id="" [hidden]="isDisable">
                            </div> 
                          
                    </div>

                    <div class="row">
                        
                              <div class="col-md-3 text-right">
                                  <label  [hidden]="isDisable">เลขประจำตัวประชาชน</label>
                              </div>
                              <div class="col-md-3">
                                  <input type="text" name="" id=""  [hidden]="isDisable">
                              </div>

                      </div>
  
        </div>
  
  

  
    
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-center">
            <button  class="btn btn-primary">ยืนยัน</button>
            <button  class="btn btn-primary">ยกเลิก</button>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
</div>
