<div id="find-person-md" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-lg modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ฟอร์มสำรวจลูกน้ำยุงลาย</h4>
            </div>
            <app-filter-find-mosquito (addplace)="addplace($event);" [reset]="resetFind" [findHome]="isFindHome" (choosePlace)="onChoosePlace($event)" [documentId]="documentId"></app-filter-find-mosquito>

            <div *ngIf="isShowForm">
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>ที่อยู่ : </dt>
                                <dd>{{ mosquitobean.address }}</dd>
                                <dt>ประเภท : </dt>
                                <dd>{{ mosquitobean.homeTypeName }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-3 text-right col-md-offset-5">
                                    <label>จำนวนภาชนะที่สำรวจ</label>
                                </div>
                                <div class="col-md-3">
                                    <label>ภาชนะที่พบลูกน้ำ</label>
                                </div>
                            </div>
                            <div *ngFor="let item of containerTypeList; let i = index">
                                <div class="row">
                                    <div class="col-md-3 text-right">
                                        <img src="../../assets/img/iconmosquito/{{item.imagePath}}" height="30px">
                                    </div>
                                    <div class="col-md-3 text-left">
                                        <label class="label-form">{{item.containerTypeName}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-6">
                                            <input class="text-center" [(ngModel)]="mosquitobean.listContainerType[i].totalSurvey" (blur)="setNullContainerTypeSurvey(mosquitobean.listContainerType[i].totalSurvey,i);"
                                                maxlength="3" [OnlyNumber]="true">

                                        </div>
                                        <div class="col-md-6">
                                            <input class="text-center" [(ngModel)]="mosquitobean.listContainerType[i].totalDetect" (blur)="setNullContainerTypeDetect(mosquitobean.listContainerType[i].totalDetect,i);"
                                                maxlength="3" [OnlyNumber]="true">
                                        </div>
                                        <label *ngIf="obj[i]" class="error2">จำนวนภาชนะที่สำรวจน้อยกว่าภาชนะที่พบ</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <button type="buttoon" class="btn btn-primary btn-sm" (click)="addSurvey()">ยืนยัน</button>
                    <button type="buttoon" class="btn btn-primary btn-sm" (click)="onBack()">กลับ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowAddPlace">
    <div class="col-md-12">
        <app-management-home-form type="MOS"  [bean]="homebean" [action]="ass_action.ADD" (success)="onComplete($event)"></app-management-home-form>
    </div>
</div>
<!-- <app-management-home-form [bean]="homeBean" [action]="ass_action.ADD" (success)="onComplete($event)"></app-management-home-form>  -->
<ass-loading [show]="loading"></ass-loading>