<!-- Modal Survey-->
<div id="modalCancer" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-lg modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">การสำรวจผู้ป่วยมะเร็ง</h4>
      </div>

      <div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label>ชื่อ-สกุล</label>
          </div>
          <div class="col-md-3">
            <input type="text" value="" >
          </div>
          <div class="col-md-1 text-right">
            <label>โทรศัพท์</label>
          </div>
          <div class="col-md-3">
            <input type="text" value="" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label>ชนิดของมะเร็ง</label>
          </div>
          <div class="col-md-3">
            <input type="text" name="" id="" value="" >
          </div>
          <div class="col-md-1 text-right">
            <label>เริ่มป่วย</label>
          </div>
          <div class="col-md-3">
            <input type="text" value="" >
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label>รพ.ที่รักษา</label>
          </div>
          <div class="col-md-3">
            <input type="text" value="">
          </div>
          <div class="col-md-1 text-right">
            <label>อื่นๆ</label>
          </div>
          <div class="col-md-3">
            <input type="text" value="">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right">
            <label>สถานะการสำรวจ</label>
          </div>
          <div class="col-md-3">
            <select>
              <option value="0">==กรุณาเลือก==</option>
              <option value="1">กำลังรักษา</option>
              <option value="2">หายแล้ว</option>
            </select>
          </div>
          <div class="col-md-1 text-right">
            <label>วันสำรวจ</label>
          </div>
          <div class="col-md-3">
              <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeDate($event)" [disabled]="isDisablePersonData"></my-date-picker>
            <!-- <div class="input-group date" data-provide="datepicker">
              <input type="text">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary">ยืนยัน</button>
            <button class="btn btn-primary" data-dismiss="modal">ยกเลิก</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>