<!-- Modal Survey-->
<div id="modalCancer" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-lg modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">การสำรวจผู้ป่วยมะเร็ง</h4>
      </div>

      <div>
          <div class="row">
              <div class="col-md-3 text-right">
                <label>ประเภทมะเร็ง</label>
              </div>
              <div class="col-md-3">
                <select>
                  <option value="0">==กรุณาเลือก==</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <div class="col-md-1 text-right">
                <label>วันที่เป็น</label>
              </div>
              <div class="col-md-3">
                  <!-- <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="modelBirthDate" (dateChanged)="onChangeDate($event)" [disabled]="isDisablePersonData"></my-date-picker> -->
                  <my-date-picker [options]="datePickerOptions" [(ngModel)]="cancerbean.canecerDate" required></my-date-picker>
                </div>
           </div>

        <div class="row">
          <div class="col-md-3 text-right">
            <label>สถานที่รักษา</label>
          </div>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="cancerbean.treatmentPlace">
          </div>
          <div class="col-md-1 text-right">
            <label>สิทธิบัตร</label>
          </div>
          <div class="col-md-3">
            <!-- <input type="text" value="" > -->
            <select [(ngModel)]="patientbean.hInsuranceTypeID">
                <option value="">--เลือก--</option>
                <option *ngFor="let item of healtInsuranceTypeList" value="{{item.id}}">{{item.code}}</option>
            </select>
          </div>
          
        </div>

        <div class="row">
          <div class="col-md-3 text-right">
            <label>โทรศัพท์ </label>
          </div>
          <div class="col-md-3">
            <input type="text" [(ngModel)]="cencerbean.telephone">
          </div>
          <div class="col-md-1 text-right">
            <label>อื่นๆ</label>
          </div>
          <div class="col-md-3">
            <input type="text" value="" >
          </div>
        </div>


      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary">ยืนยัน</button>
            <button class="btn btn-primary" data-dismiss="modal">ยกเลิก</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>