/* You can add global styles to this file, and also import other style files */
.row{
    padding: 5px;
}
label{
    color: #000000;
    font-size: 15px;
    font-weight: bold;

}
span.value, label.value{
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}

.label-form{

}
.panel-default>.panel-heading {
    background-color: #e4e7e8;
    height: 38px ;
    padding: 6px 2px 2px 15px;
  }
.panel-heading>*{
    font-size: 16px  ;
    font-weight: bold;
    color : #3D3C3C ;
    
  }
.panel-default>.panel-body {
    background-color: #ffffff;
    padding: 7px 10px 7px 10px;
  }
.btn{
    min-width: 90px;
}
input,select,textarea{
    width: 100%;
    height: 28px;
    line-height: 22px;
    font-size: 14px;
    color: #3d3d3d ;
    padding : 2px 4px 2px 4px ;
    border-radius : 3px ;
    border: 1px solid #a0b1be;
}
select[disabled]{
    background-color: #ebebe4;
}
.text-right{
    padding-right: 0;
}
.label-form{
    padding-top: 3px;
}
.required{
    border: 1px solid #FF3300;
}
.text-required{
    color : #FF3300;
}
table{
    font-size: 16px;
}
table.table-bordered>thead {
    background-color: #4aa3df;
   
}

.table-bordered > thead > tr > th, table > thead > tr > th .ng2-smart-sort-link{
    text-align: center;
    color: #ffffff;
    border: none;
}

.table .btn {
color: white !important;
}

.ng2-smart-no-data-found {
    text-align: center !important;
}

.ng2-smart-th {
    vertical-align: middle !important;
}

.pagination > li > a, .pagination > li > span, .pagination > li > a> span{
    font-size: 12px;
}
.pagination > li > a> span, .ng2-smart-pagination .page-link-next, .ng2-smart-pagination  .page-link-prev{
    font-size: 12px;
}

.filter-discription{
    background-color: #d4d4d4;
    margin: 0 1px 0 1px;
    padding: 2px;
    color: #717171;
}