<div class="panel panel-default">
  <div class="panel-heading">
    <label *ngIf="isStaff"><a (click)="onBackStaffManageOSM();" >จัดการเจ้าหน้าที่ อสม.</a> <i class="fa fa-caret-right"></i> </label><label><a (click)="onBack();" >จัดการเขตรับผิดชอบ อสม.</a> <i class="fa fa-caret-right"></i> จัดการสมาชิกในบ้าน</label>
  </div>
  <div class="panel-body">

    <div class="row" *ngIf="isShowInfo" >
      <div class="col-md-12">
        <div class="box-body" style="border: 1px solid #d4d4d4">
          <dl class="dl-horizontal">
            <dt>บ้านเลขที่ : </dt>
            <dd>{{ homeInfo.homeNo }}</dd>
            <dt>รหัสบ้าน : </dt>
            <dd>{{ homeInfo.registrationId }}</dd>
            <dt>ที่อยู่ : </dt>
            <dd>{{ homeInfo.address }}</dd>
            <dt>เบอร์โทรศัพท์ : </dt>
            <dd>{{ homeInfo.telephone }}</dd>
            <dt>อสม. : </dt>
            <dd>{{ homeInfo.osmFullName }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="onClickAdd()" class="btn btn-sm btn-primary">เพิ่มสมาชิกใหม่</button>
        &nbsp;&nbsp;
        <button *ngIf="isStaff" class="btn btn-sm btn-primary" (click)="onBack();"><i class="	glyphicon glyphicon-chevron-left"></i> กลับ</button>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>รายชื่อสมาชิกปัจจุบัน</label>
        <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>
    <div *ngIf="isShowDeadList" class="row">
      <div class="col-md-12">
        <label>ประวัติสมาชิกที่เสียชีวิต</label>
        <ng2-smart-table [settings]="deadSettings" [source]="deadSource" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
      </div>
    </div>
  </div>
<app-management-home-member-form [bean]="bean" [action]="action" [address]="address" (success)="onCompleted($event)"></app-management-home-member-form>
<ass-loading [show]="loading"></ass-loading>