  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">{{bean.citizenId?'แก้ไข':'เพิ่ม'}}เจ้าหน้าที่ รพ.สต.</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">{{getLabel('lbl_citizenid')}}</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="bean.citizenId" OnlyNumber="true" [disabled]="false">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">เพศ</label>
            </div>
            <div class="col-md-4">
              <select [(ngModel)]="bean.genderCode">
                <option value="">---เลือก---</option>
                <option *ngFor="let item of genderList" [value]="item.code">{{item.name}}</option>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">คำนำหน้า</label>
            </div>
            <div class="col-md-4">
              <select [(ngModel)]="bean.prefixCode">
                <option value="">---เลือก---</option>
                <option *ngFor="let item of prefixList" [value]="item.code">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">ชื่อ</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="bean.firstName">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">นามสกุล</label>
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="bean.lastName">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-right">
              <label class="label-form">วัน/เดือน/ปี เกิด</label>
            </div>
            <div class="col-md-5">
              <my-date-picker name="mydate" [options]="datePickerOptions" [(ngModel)]="bean.birthDate" required></my-date-picker>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary">ตกลง</button>
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>
