  <!-- Modal -->
  <div class="modal fade" id="modalFormHomeWithoutOSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">เพิ่มบ้านเลขที่ จากบ้านเลขที่ที่ไม่มี อสม.</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary" (click)="onSave()">ตกลง</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-primary" (click)="onCancel()" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>

<ass-loading [show]="loading"></ass-loading>