  <!-- Modal -->
  <div class="modal fade" id="modalFormHomeWithoutOSM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">เพิ่มบ้านเลขที่ จากบ้านเลขที่ที่ไม่มี อสม.</h4>
        </div>
        <div class="modal-body">
          <!-- <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="settings" [source]="source" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
            </div>
          </div> -->


          <!-- Select column -->
          <div class="row">  
            <div class="col-md-5"><label  style="margin-left: 10px">บ้านเลขที่ ที่ไม่มี อสม.</label></div>
            <div class="col-md-1"><label></label></div>
            <div class="col-md-5"><label style="margin-left: 10px">บ้านเลขที่ที่จะเพิ่ม</label></div>
          </div>
          <div class="row">
           
            <div class="col-md-5" style="padding-left: 20px">
              <select id="comlumnList"  name="comlumnList"  multiple="multiple" style="height: 175px;">								
                  <option *ngFor="let item of homeList" [value]="item.homeId" title="{{'เจ้าบ้าน นายสมาน การแพทย์'}}">บ้านเลขที่&nbsp;{{item.homeNo}}</option>
              </select>
              <label id="comlumnListError" class="error" for="comlumnList">กรุณาเลือกบ้านเลขที่</label>
            </div>
            <div class="col-md-1 text-center" style="padding:0">
            <br />
            <br />
            <br />
              <a href="javascript:void(0);" id="addPop"><input  type="button" class="btn-sm btn-primary" value=">"/></a>
              <br>
              <div style="height: 10px"></div>
              <a href="javascript:void(0);" id="removePop"><input type="button" class="btn-sm btn-primary" value="<"/></a>
            </div>
            <div class="col-md-5">
              <select id="selectColumnList" name="selectColumnList" multiple="multiple" style="height: 175px;">
              </select>
              <label id="selectColumnListError" class="error" hidden="hidden" for="selectColumnList">กรุณาเลือกบ้านเลขที่</label>
            </div>
          </div>
            
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-sm btn-primary" (click)="onSave()">ตกลง</button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">ยกเลิก</button>
          
        </div>
      </div>
    </div>
  </div>

<ass-loading [show]="loading"></ass-loading>