<nav class="navbar navbar-static-top" role="navigation">
        <!-- <div class="col-sm-1"> 
                <img  src="assets/img/anamai-logo-white.png" class="logo-left-top">
        </div> -->
        <div class="row" style="padding: 0;">
                <div class="col-sm-5"> 
                        <img  src="assets/img/anamai-logo-white.png" class="logo-left-top">
                        <label class="title-left-header">Survey Smart Service</label> 
                </div>
                <div class="col-sm-7" style="margin-top: 14px; padding-right: 0"> 
                        <div class="row" style="padding-bottom: 0;">
                                <div class="col-sm-4" style="padding-left:3px; padding-right: 4px;"><label class="value">ชื่อผู้ใช้</label></div>
                                <div class="col-sm-4" style="padding-left:3px; padding-right: 4px;"><label class="value">รหัสผ่าน</label></div>
                        </div>
                        <div class="row"  style="padding-top: 0; padding-right: 0">
                                <div class="col-md-4" style="padding-left:3px; padding-right: 4px;">
                                        <input type="text" [(ngModel)] = "user.username" placeholder="ชื่อผู้ใช้">
                                </div>  
                                <div class="col-md-4" style="padding-left:3px; padding-right: 4px;">
                                        <input type="password" [(ngModel)] = "user.password" placeholder="รหัสผ่าน">
                                </div> 
                                <div class="col-md-2" style="padding-left:3px; padding-right: 4px; width: 100px">
                                        <button class="btn btn-sm btn-primary" (click)="login();">เข้าสู่ระบบ</button>
                                </div>
                                <div class="col-md-2 text-center" style="padding-left:0; padding-right: 0;">
                                        <button class="btn btn-warning btn-register" (click)="onClickRegister()">ลงทะเบียน Online</button>
                                </div>
                               
                        </div>
                        <div style="padding-left: 20px;"><label *ngIf="isErrorLogin" style="display: block; color:#e90606;">{{msgErrorLogin}}</label></div>
                        <div class="row" >
                                <div class="col-md-9 text-right">
                                        <a routerLink="/forgot-password" (click)="onClickForgostPassword()">ลืมรหัสผ่าน</a>
                                </div>
                        </div>
                </div>
        </div>
        
</nav>
<app-forgot-password></app-forgot-password>
<ass-loading [show]="loading"></ass-loading>