<div class="row">
  <div class="col-md-2 text-right">
    <label fs-label="lbl_villageNo" fs-lang="th">หมู่ที่ {{title}}</label>
  </div>
  <div class="col-md-4">
    <select name="find-dropdownVillageNo" id="find-dropdownVillageNo" [(ngModel)]="mVillageNo" (change)="changVillageNo()">
      <option value="0">--เลือกหมู่บ้าน--</option>
      <option value="1">หมู่ที่ 1 บ้านคำไฮ</option>
      <option value="2">หมู่ที่ 2 บ้านศรีฐาน</option>
    </select>
  </div>
  <div class="col-md-1 text-right">
    <label fs-label="lbl_osm">อสม.</label>
  </div>
  <div class="col-md-4">
      <select name="find-osmName" id="find-osmName" [(ngModel)]="mOSM" [disabled]="isDisabledOSM">
          <option value="0">--เลือก อสม.--</option>
     </select>
  </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <label fs-label="lbl_homeNo">บ้านเลขที่</label>
      </div>
      <div class="col-md-4">
          <select name="find-homeNo" id="find-homeNo" [(ngModel)]="mHomeNo" (change)="changHomeNo()" [disabled]="isDisabledHomeNo">
              <option value="0">--เลือก บ้านเลขที่--</option>
              <option value="30">30</option>
              <option value="30-1">30/1</option>
              <option value="44">44</option>
         </select>
      </div>
      <div class="col-md-1"></div>
    <div class="col-md-1">
        <button (click)="doSearchPerson()" type="buttoon" class="btn btn-primary btn-sm" [disabled]="isDisableBtnSearch"><i class="fa fa-search"> ค้นหา</i></button>
    </div>
</div>

<div class="row">
  <div class="col-md-2 text-right">
    <label fs-label="lbl_member">สมาชิก</label>
  </div>
  <div class="col-md-4">
    <select name="find-dropdownPerson" id="find-dropdownPerson" (change)="doPersonChange()" [(ngModel)]="mPerson" [disabled]="isDisabledPerson">
      <option value="0" fs-label="lbl_member">--เลือกสมาชิก--</option>
      <option value="101">นายโสพน สดใส</option>
    </select>
  </div>
</div>