<div class="row" *ngIf="isShowFind">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form" >{{getLabel('lbl_villageNo')}}</label>
      </div>
      <div class="col-md-4">
        <select [(ngModel)]="village.villageID" (change)="changVillageNo()">
          <option ngValue="">--เลือก หมู่ที่--</option>
          <option *ngFor="let item of villageData" [ngValue]="item">{{item.villageNo+' : '+item.villageName}}</option>
        </select>
      </div>
      <div class="col-md-1 text-right">
        <label class="label-form">{{getLabel('lbl_osm')}}</label>
      </div>
      <div class="col-md-4">
          <select name="find-osmName" id="find-osmName" [(ngModel)]="osm.OSMID" [disabled]="isDisabledOSM">
            <option ngValue="">--เลือก อสม.--</option>
            <option *ngFor="let item of osmData" [ngValue]="item">{{item.OSMID+' : '+item.OSMName}}</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-right">
            <label class="label-form">{{getLabel('lbl_homeNo')}}</label>
          </div>
          <div class="col-md-4">
              <select name="find-homeNo" id="find-homeNo" [(ngModel)]="home.homeID" (change)="changHomeNo()" [disabled]="isDisabledHomeNo">
                  <option ngValue="">--เลือก บ้านเลขที่--</option>
                  <option ngValue="30">30</option>
                  <option ngValue="30-1">30/1</option>
                  <option ngValue="44">44</option>
            </select>
          </div>
          <div class="col-md-1"></div>
        <div class="col-md-1">
            <button (click)="doSearchPerson()" data-target="#modal-person-member-list"  data-toggle="modal"type="buttoon" class="btn btn-primary btn-sm" [disabled]="false">ค้นหารายชื่อสมาชิก</button>
        </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-2 text-right">
        <label class="label-form">{{getLabel('lbl_member')}}</label>
      </div>
      <div class="col-md-4">
        <select name="find-dropdownPerson" id="find-dropdownPerson" (change)="doPersonChange()" [(ngModel)]="personBean.citizenID" [disabled]="isDisabledPerson">
          <option ngValue="" fs-label="lbl_member">--เลือกสมาชิก--</option>
          <option ngValue="1122323232323">นายโสพน สดใส</option>
        </select>
      </div>
    </div> -->


    <div class="row" id="layout-list-person" *ngIf="isShowPersons">
      <div class="col-md-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="60">ลำดับ</th>
                <th>ชื่อ - สกุล</th>
                <th width="180">เลขประจำตัวประชาชน</th>
                <th width="60">อายุ</th>
                <th width="80">สถานะ</th>
                <th width="60">เลือก</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of personData; let idx = index">
                <td>{{idx+1}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.citizenID}}</td>
                <td>{{item.age}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button type="button" (click)="onChoosePerson(item)" class="btn btn-sm btn-primary">เลือก</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

