<app-loading [cmd]="loadingCMD"></app-loading>
<div class="row" style="background-color: #42c8fb;">
  <div class="col-md-12" style="text-align:center;    height: 70px;">
    <label style="text-align: center; font-size: 38px; margin-top:10px; color: white">สร้างบัญชี รพ.สต.</label>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin-top:30px">
      <img src="assets/img/anamai_smart_service_logo_1.png">
    </div>

    <div class="col-md-6" style="margin-top:30px">
      <div class="col-md-12">

        <div class="text-right col-md-4 form-group">
          <label class="label-form">ที่ตั้ง รพ.สต.</label>
        </div>

        <div class="col-md-8 form-group">
          <select class="ng-pristine ng-valid ng-touched">
                  <option value="0">เลือกโรงพยาบาลส่งเสริมสุขภาพตำบล</option>
                </select>
        </div>

        <div class="text-right col-md-4 form-group">
          <label></label>
        </div>

        <div class="col-md-8">

          <div class="col-md-6 form-group" style="padding-left: 0px;">
            <select class="ng-pristine ng-valid ng-touched">
                    <option value="0">เลือกตำบล</option>
                  </select>
          </div>

          <div class="col-md-6 form-group" style="padding-right: 0px;">
            <select class="ng-pristine ng-valid ng-touched">
                    <option value="0">เลือกอำเภอ</option>
                  </select>
          </div>
        </div>


        <div class="text-right col-md-4 form-group">
          <label></label>
        </div>

        <div class="col-md-8 form-group">
          <select class="ng-pristine ng-valid ng-touched">
                    <option value="0">เลือกจังหวัด</option>
                  </select>
        </div>



        <div class="text-right col-md-4 form-group">
          <label class="label-form">รหัส 9 หลัก รพ.สต.</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="รหัส 9 หลัก รพ.สต.">
        </div>

        <div class="text-right col-md-4 form-group">
          <label class="label-form">รหัส 5 หลัก</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="รหัส 5 หลัก">
        </div>

        <div class="text-right col-md-4 form-group">
          <label class="label-form">เลขประจำตัวประชาชน</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="เลขประจำตัว 13 หลัก">
        </div>


        <div class="text-right col-md-4 form-group">
          <label class="label-form">คำนำหน้าชื่อ</label>
        </div>

        <div class="col-md-8 form-group">
          <select class="ng-pristine ng-valid ng-touched">
                <option value="0">เลือกคำนำหน้า</option>
              </select>
        </div>

        <div class="text-right col-md-4 form-group">
          <label class="label-form">ชื่อ</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="ชื่อ">
        </div>

        <div class="text-right col-md-4 form-group">
          <label class="label-form">สกุล</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="สกุล">
        </div>

        <div class="text-right col-md-4 form-group">
          <label class="label-form">อีเมล</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="อีเมล">
        </div>

        <div class="text-right col-md-4 form-group">
          <label class="label-form">เบอร์โทรศัพท์</label>
        </div>

        <div class="col-md-8 form-group">
          <input class="ng-pristine ng-valid ng-touched" type="text" placeholder="เบอร์โทรศัพท์">
        </div>



        <div class="col-md-6 col-md-offset-5">
          <button class="btn btn-primary" (click)="doRegister()">สร้างบัญชี รพ.สต.</button>
          <button class="btn btn-primary">ยอนกลับ</button>
        </div>
      </div>
    </div>

  </div>
</div>
